## mako
<%page expression_filter="h"/>

<%
  el_type = particle.options('type', default='No type')
  el_id = particle.options('id', default=0)
  el_styles = particle.get_css()
  number_columns = particle.columns_number
  el_layout = particle.options('variables','column_layout')
%>

<div id="${el_id}" style="${el_styles}">
  %if particle.children:
    %for i in range(1, number_columns+1):
      <div class="col-${el_layout[i-1]}">
        %for s_particle in particle.children_by_column(i):
          ${s_particle.render() | n}
        %endfor
      </div>
    %endfor
  %endif
</div>
