## mako
<%page expression_filter="h"/>

<%
  el_type = particle.options('type', default='No type')
  el_id = particle.options('id', default=0)
  el_styles = particle.options('css', default='')
  el_text = particle.options('variables', 'text', default='')
  el_search_icon = particle.options('variables', 'search_icon', default='')
%>

<form method="get" action="/courses" id="${el_id}">
	<input  name="search_query" type="text" placeholder="${el_text}">
	<button type="submit">
		<i class="fa ${el_search_icon}"></i>
	</button>
</form>

<style type="text/css">
	${el_styles |n}
</style>
