## mako
<%page expression_filter="h"/>
<%!
import colorsys
from django.utils.translation import ugettext as _
from django.utils.translation import get_language_bidi
%>
<%namespace name='static' file='static_content.html'/>
<%interactive_color = theming.options('interactive_color') %>

<%
  style_overrides_file = None
  try:
    if get_language_bidi():
      style_overrides_file = theming.options(
        'css_overrides_file_rtl',
        default = theming.options('css_overrides_file')
      )
      style_overrides_file = theming.options('css_overrides_file')
    else:
      style_overrides_file = theming.options('css_overrides_file')
  except Exception:
    style_overrides_file = ''
%>

% if style_overrides_file:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file)}" />
% endif

## Optional overrides
<%
  style_overrides_file_extra = theming.options('css_overrides_file_extra', default= False)
  style_overrides_inline_extra = theming.options('css_overrides_inline_extra', default= False)
%>
% if style_overrides_file_extra:
  <link rel="stylesheet" type="text/css" href="${static.url(style_overrides_file_extra)}" />
% endif
% if style_overrides_inline_extra:
  <style type="text/css">${style_overrides_inline_extra | n}</style>
% endif

% if interactive_color:

  <%
    main_color = interactive_color.lstrip('#')
    r, g, b = tuple(int(main_color[i:i+2], 16) for i in (0, 2, 4))
    h, l, s = colorsys.rgb_to_hls(r/255, g/255, b/255)

    key = "--main-color"
    colors = {}

    def assign_alpha(colors, r, g, b):
      for alpha in range(0, 11, 1):
          alpha_key = f"{key}-alpha-{alpha}" if alpha != 10 else key
          colors[alpha_key] = f"rgba({r}, {g}, {b}, {alpha/10})"

    assign_alpha(colors, r, g, b)

    for theme in  ["light", "dark"]:
        if theme == "dark":
            aux_func = lambda x: max(l - x/100, 0)
        else:
            aux_func = lambda x: min(l + x/100, 1)

        for i in range(1, 100, 1):
            key = f"--{theme}-color-lightness-{i}"
            value = tuple([int(c*255) for c in colorsys.hls_to_rgb(h, aux_func(i), s)])
            assign_alpha(colors, value[0], value[1], value[2])
  %>

  <style type="text/css">
  :root {
    % for k, v in colors.items():
    ${k}: ${v};
    % endfor
  }
  </style>
% endif
