<%
stats_settings = getattr(settings, 'STATS_SETTINGS', {})
%>

% if stats_settings.get('SHOW_HOME_CONTENT', False):
  <%
  stats_query_params = ''
  hidden_items = [f'hide{item.capitalize()}' for item in stats_settings.get('HIDDEN_HOME_ITEMS', [])]

  if hidden_items:
      stats_query_params = f"?{'&'.join(hidden_items)}"
  %>
  <section class="home-courses" >
    <div class="tenant-stats-container" >
      <iframe
        src="/eox-nelp/frontend/stats/tenant/${stats_query_params}" title="tenant-stats">
      </iframe>
    </div>
  </section>
% endif

% if getattr(settings, 'HOME_SHOW_COURSES_FEEDBACK', False):
  <section class="home-courses" >
    <div class="home-feedback-courses-container" >
      <iframe src="/eox-nelp/frontend/experience/feedback/courses" title="feedback courses carousel"></iframe>
    </div>
  </section>
% endif
