$main-color: #4FC3F7;

// Using the generic bragi
@import '../../../../../../../../bragi/lms/static/sass/partials/lms/theme/extras.scss';

//colors
$color_azure_radiance_approx: #00a1ff;
$navbar-color:#ffffffe6;
$background-container-color:#f3f7fa;

//urls
$url_banner: url('../images/foto-banner.jpg');
$url_banner_contact: url('../images/fondo-banner-contacto.jpg');
$url_banner_faq: url('../images/banner-faq-legales.jpg');
$url_parallax_home: url('../images/parallax-home.jpg');
$url_parallax_contact: url('../images/banner-parallax.jpg');
$url_banner_about: url('../images/banner-nuestro-servicio.jpg');

//font
$font-family-primary:'Heebo', sans-serif;


* {
  font-family: $font-family-primary !important;
}

.fa {
  font-family: FontAwesome !important;
}

.content-wrapper {
  background:$white !important;
}

.navbar ul.navbar-links {
  width: auto;
}

.content-container.px-0.d-flex.align-items-center {
  list-style: none;
}

button[type=submit] {
  background: $color_azure_radiance_approx !important;
}

.header-global .nav-global {
  margin-top: -41px;
  float: right;
}

.logo a img {
  width: 80px;
}

.navbar-logo img {
  width: 80px;
}

.header-global .logo {
  float: none;
}

.container-navbar-links {
  width: 60%;
}

.main-header {
  width: 100%;
}

.global-header .header-logo {
  display: flex;
}

.global-header .header-logo .course-header {
  margin-left: 0;
}

.navbar.course-tabs {
  z-index: auto;
}



.course-info .course-intro,
.courses-intro,
.dashboard-intro,
.home-intro {
  width: 100%;
}

.dashboard-intro {
  h1 {
    font-weight: 600 !important;
    font-size: 2.5rem;
  }

  h3 {
    font-weight: 600 !important;
    font-size: 1.75rem;
  }
}

.header-global .nav-global li.item.nav-global-04
a.btn-neutral.btn-register {
  background: $color_azure_radiance_approx;
  color: $white;
  font-weight: 600;
}

.header-global .nav-global li,
.header-global .nav-global div {
  text-transform: none;
}

.header-global .nav-global li a,
.header-global .nav-global div a {
  color: black;
  font-weight: 400;
  background: transparent;
}

.nav-login {
  border-radius: 0 !important;
  background: $color_azure_radiance_approx !important;;
}
.navbar {
  background: $navbar-color;
  top: 0;
  bottom: 100%;

  .nav-login {
    color: $white !important;
  }
}

.nav-separator {
  flex-grow: 1;
}

.navbar-links .nav-item .nav-link {
  color: #000;
  font-weight:400 !important;
  font-size: 15px;
}

.login-link {
  font-weight:500 !important;
}

.register-boton {
  font-weight:600 !important;
}

.banner {
  height: 500px;
  background: transparent $url_banner 50% 50%;
  background-size: cover;

  section {
    background: transparent !important;

    div.information.container {
      background: transparent;
      color: $white;
      float: left;
      font-size: larger;
      background: transparent;
      padding-top: 18% !important;

      .row {
        margin-top:-100px;
        h1 {
          float: left !important;
          text-align: left !important;
          font-weight: 900 !important;
          margin: 0px !important;
        }
      }

      div.row.align-items-center {
        margin-top: 0px ;
        h1 {
          float: initial !important;
          text-align: center !important;
          font-weight: 900 !important;
          margin: 0 !important;
        }
      }
    }
  }

  p{
    font-family: $font-family-primary !important;
  }
}

.parallax-home {

  background:transparent $url_parallax_home fixed no-repeat 50% 50%;
  background-size: cover;
  padding-top:80px;
  padding-bottom:80px;

  div {
    background:transparent !important;
    color:$white !important;
  }

  a {
    border: 1px solid;
    color:$white !important;
    border-color:$white  !important;
    border-radius:none !important;
    background:transparent !important;
    padding: 1.5% 2.5% 1.5% 2.5%;
    font-size:large;
  }

  p {
    margin-bottom: 8% ;
    font-family: $font-family-primary !important;
    font-weight: 400 !important;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
    margin:0px;
  }
}

header{

  h1.title {
    .title-super {
      color: $white !important;
      font-weight: 900 !important;
      font-family: $font-family-primary !important;
    }

    .title-sub {
      color: $white !important;
      font-weight: 400 !important;
      font-family: $font-family-primary !important;
    }
  }
}

.nav-item-letf {
  padding-left: 10px;
}
.title-sub {
  color: white !important;
}

.navbar-logo{
  width: 100%;

  img {
    width: 80px;
  }
}

button.navbar-toggler.hidden-lg-up.align-self-center {
  position: absolute;
  left: 80%;
}

.container {
  box-shadow: none !important;
}

.content-wrapper {
  background: white;
}

.align-items-center {
  text-align: center;
}

.virtues {
  img {
   margin: 10px;
  }

 p {
  font-weight: 400 !important;
  font-family: $font-family-primary !important;
  }
}

.container-guiding {
  background: white !important;
}

.guiding-elements {
  p {
    font-family: $font-family-primary !important;
  }

  .title-virtues {
    margin: 40px;
    margin: 40px 0;
  }

  img {
    width: auto;
    height: auto;
    margin: 10px;
  }

  h1, h5 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }
}

span.title-super {
  color: white !important;
  text-transform: initial !important;
  font-size: 120% !important;
  font-weight: bold !important;
}

.courses{
  width: 100% !important;
  background-color: $background-container-color;

  .card-courses {
    height: 375px !important;
  }
}

.course-panel {
  div.col-md-12 {
    p {
      font-size: 0.9rem;
    }
  }
}

ul.courses-listing {
  li.courses-listing-item {
    article.course {
      border-bottom: 0px;
    }
  }
}

.home-courses {
  padding-top:6%;
  .row.align-items-center {
    max-width: 100%;
    margin-left: 0px;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }

  p {
    font-family: $font-family-primary !important;
  }

  .courses-container .courses .course .course-info {
    height: 375px !important;
    color: $white  !important;
  }
}

@media only screen and (min-width: 980px) {
  .home .courses-container .courses
  .courses-listing .courses-listing-item {
    float: none;
    display: inline-block;
    margin-right: 0;
    width: 31.3%;
  }
  section.highlighted-courses{
    .courses.py-0 {
      padding-left: 45px;
    }
  }
}

.course-panel {
  background: transparent !important;
  margin-top: 125px !important;
  padding-top: 0px !important;

  div.title-course {
    padding-left: 10px !important;
    //margin-bottom: 40px !important;
  }

  h3,
  h5 {
    font-family: $font-family-primary !important;
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }

  div.col-md-12 {
    h3 {
      font-size: 1.6rem;
    }
  }
}

.testimony {
  width: 100% !important;
  background-color: $background-container-color;
  margin-bottom: 4%;
  padding-top: 30px;
  padding-bottom: 30px;

  div {
   background-color: $background-container-color !important;
  }

  p {
    font-size: 110% !important;
    color: gray !important;
    font-weight: 400 !important;
    font-family: $font-family-primary !important;
  }
}

.footer {
  background: $white !important;
  a,
  p {
    color:black !important;
    font-size: 65% !important;
    font-weight: 400 !important;
  }

  .keyboard_arrow_up {
    width: 10%;
    margin-left: 84px;
  }
}

.footer-extra{
  font-weight: 400 !important;
  background: $white !important;

  .footer-logo {
    @media (min-width: 992px){
      margin-right: 26px;
    }

    @media (max-width: 991px) {
      margin-left: 38%;
      margin-bottom: 10px;
      p.copy{
        padding-left: 5px !important;
      }
    }

    img {
      width: 90px !important;
      max-width: 100%;
      height: auto;
    }
  }

  a.logo-media {
    img {
      width: 30px !important;
      margin-right: 8px;
      margin-left: 8px;
      max-width: 100%;
      height: auto;
    }
  }

  .header-global .nav-courseware {
    margin: -44px;
    margin-left: 60%;
    float: none;
  }

  .view-login .header-global
  .nav-courseware .btn-login {
    color: black;
    background: transparent;
  }

  .text-copyright {

    padding-left: 100px;
    padding-top: 20px;

    p {
      padding: 0px !important;
      margin: 0px !important;
      font-size: 65% !important;
      font-family: $font-family-primary !important;
    }

    p.copy {
      padding-left: 30px !important;
    }

    p.copy-copyright {
      margin-left: 23px !important;
    }

  }
}

.input-group-btn{
  font-size: 16px !important;
}

div.d-md-none {
  .content-mobile-link {
    display:flex;
    justify-content:center;
    font-size: 1rem;

    a {
      margin:20px
    }
  }

  .box-email {

    p {
      font-size: 12px;
      margin: 0px !important;
      float: right;
      font-family: $font-family-primary !important;
    }

    a {
      background: $white !important;
      border: 1px solid !important;
      border-radius: 0px !important;
    }

    input {
      background: $white;
      border: 1px solid;
      border-radius: 0px;
    }


    .input-group {
      margin: -25px 1px 6px 1px;

      input.btn,
      input.btn:hover {
        border: 1px solid black !important;
        color: black;
        padding: 6px 6px 6px 6px;
        font-size: 12px;
        text-transform: capitalize !important;
        font-family: $font-family-primary !important;
      }
    }
  }
}

nav.nav.col-md-8.align-items-center {
  display: flex;
  justify-content: space-evenly;
}

@media only screen and (min-width: 980px) {
  nav.nav.col-md-8.align-items-center {
    display: flex;
    justify-content: end;
  }
}

.d-md-flex {
  .box-email{

    padding: 6px 15px 0px 41px !important;

    p {
      font-size: 12px;
      margin: 0px !important;
      float: right;
      font-family: $font-family-primary !important;
    }

    a {
      background: $white !important;
      border: 1px solid !important;
      border-radius: 0px !important;
    }

    input {
      background: $white;
      border: 1px solid;
      border-radius: 0px;
    }


    .input-group {
      margin: -25px 1px 6px 1px;

      input.btn,
      input.btn:hover {
        border: 1px solid black !important;
        color: black;
        padding: 6px 6px 6px 6px;
        font-size: 12px;
        text-transform: capitalize !important;
        font-family: $font-family-primary !important;
      }
    }
  }
}

.banner-contact {
  height: 500px;
  background: transparent $url_banner_contact 50% 50%;
  background-size: cover;
  color: $white !important;

  section {
    padding-top:10% !important;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }

  p {
    font-family: $font-family-primary !important;
  }
}


.parallax-contact {
  background:transparent $url_parallax_contact fixed no-repeat 50% 50%;
  background-size: cover;
  padding: 80px;
  padding-left: 20px;
  padding-right: 20px;

  div.col-md-3 {
    margin-left: 45px;
  }

  div {
    background: transparent !important;
    color: $white !important;
  }

  a {
    border: 1px solid;
    color: $white !important;
    border-color: $white !important;
    border-radius: none !important;
    background: transparent !important;
    padding: 1.5% 2.5% 1.5% 2.5%;
    font-size:large;
  }

  p {
    margin-bottom: 8% ;

  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;

  }

  p {
    font-family: $font-family-primary !important;
  }
}

.contact {
  max-width: 100% !important;
  padding: 60px 0px 60px 0px;

  img {
    margin: 6px;
    width:35px;
    max-width: 100%;
    height: auto;
  }

  div.col-md-4 {
    padding: 0px 60px 40px 36px;

    img.facebook {
      margin-left: 14px;
    }
  }

  p,
  label,
  div,
  input {
    font-family: $font-family-primary !important;
  }

  div.col-md-10 {
    padding-left: 40px;
  }

  h6 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }

  form {
    font-family: $font-family-primary !important;

    .btn-contact{
      float: right !important;
      background: $color_azure_radiance_approx !important;
      margin-bottom: inherit;
      text-transform: capitalize !important;
    }

    input {
      background: $white !important;
      border: 1px solid !important;
      border-radius: 0px !important;
    }

    textarea {
      background: $white !important;
      border: 1px solid !important;
      border-radius: 0px !important;
    }
  }
}

.banner-faq {
  height: 500px;
  background: transparent $url_banner_faq 50% 50%;
  background-size: cover;
  color: $white !important;

  section {
    padding-top:10% !important;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }
}

.faq {
  background-color: $background-container-color;

  section.content-faq div {
    background-color: $background-container-color;
  }

  div.static_page {
    h1 {
      float: left !important;
      font-size: initial !important;
      font-weight: 900 !important;
    }

    h3 {
      font-size: initial !important;
      font-weight: 900 !important;
    }
    p,
    h3,
    h1 {
      font-family: $font-family-primary !important;
    }
  }
}

.banner-tos {
  height: 500px;
  background: transparent $url_banner_faq 50% 50%;
  background-size: cover;
  color:$white !important;

  section{
    padding-top:10% !important;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }
}

.tos {
  background-color: $background-container-color;

  section.content-faq div {
    background-color: $background-container-color;
  }

  section.content-container {
    div {
      background: transparent !important;
    }
  }

  div.static_page {
    h1 {
      float: left !important;
      font-size: initial !important;
      font-weight: 900 !important;
    }

    h1,
    p {
      font-family: $font-family-primary !important;
    }
  }
}

.banner-about {
  height: 500px;
  background: transparent $url_banner_about 50% 50%;
  background-size: cover;
  color: $white !important;

  section {
    padding-top:10% !important;
  }

  h1 {
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }
}

.container-about {
  div.row {

  }
  padding-top: 0px !important;
  padding-bottom: 0px !important;

  img.hidden-sm-down {
    width: 114.9%;
  }

  img.hidden-md-up {
    max-width: 100%;
  }

  .vision{
    padding-right: 30px;
    font-size: larger;
    p {
      padding-left: 30px;
    }
  }

  h1 {
    float:left;
    margin-left: 22px;
    margin-top: 64px;
    font-weight: 900 !important;
    font-family: $font-family-primary !important;
  }

  p {
    font-family: $font-family-primary !important;
  }
}

.about-guiding {
  background: $background-container-color !important;
  .guiding-elements {
    div.row {
      padding: 0 6px;
      .title-virtues {
        margin: 40px;
        flex: initial;
      }
    }
  }
}

.team {
  background: $background-container-color !important;

  div.col-md-12 {
    img {
      max-width: 100%;
      height: auto;
      width:180px !important;
    }
  }
}

.benefits {

  div.row {
    padding: 20px;

    .col-md-4.first-about-ul {
      margin-bottom: 8px;
    }
  }

  ul {
    padding: 0px !important;
    margin: 0 10px 0 16px !important;

    h5 {
      color:$color_azure_radiance_approx !important;
      font-size: medium;
      font-weight: bold !important;

    }

    li {
      padding: 10px 0px 10px 0px !important;
    }

    strong {
      font-size: 15px !important;
    }
  }

  h1 {
    font-weight: 900 !important;
    margin-top: 30px;
    margin-bottom: 60px;
    font-family: $font-family-primary !important;
  }
}

section.login,
section.register {
  * { 
    font-family: $font-family-primary !important
  };
}

/*navbar-responsive*/
@media (max-width: 992px){
  .navbar .content-container li {
    display: none;
  }

  .global-header.navbar .header-logo a {
    margin-left: 65%;
  }
}

/*Container about responsive*/
@media (max-width: 992px){
  .container-about img.hidden-sm-down {
    margin-top: 15%;
  }
}

/*Courses listing responsive*/
@media (min-width: 768px ) and (max-width: 992px) {
  .course-panel p,
  .course-panel h7 {
    font-size: 14px !important;
  }
}
