<%! 
	from django.core.urlresolvers import reverse
	from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
  static_about_html = theming.options('static', 'static_about_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_about_title', default= _('About'))}</title></%block>

<div class="static-banner-about">
  <div class="container static-banner__content">
    <h2 class="static-banner__title">عن KAUx</h2>
  </div>
</div>

<section class="content-container p-5">
  <section class="container about">
  <section>
    <h2>ما هي منصة التدريب الإلكترونية KAUx ؟</h2>
    <p>هي منصة جامعة الملك عبدالعزيز الإلكترونية للمساقات الجماعية المفتوحة، يقدم من خلالها مساقات تدريبية مجانية، متنوعة باللغة العربية لكل من يرغب في التعلم و تطوير مهاراته.</p>
    <p>ومن خلال المنصة سنقدم مساقات تدريبية متنوعة في مجالات مختلفة، بما في ذلك العلوم الإنسانية والتنمية البشرية والاعتماد والجودة في الجامعات السعودية، وفي مجالات تطوير التعليم وريادة الأعمال وغيرها من المجالات، مع نخبة من المدربين المتميزين من أعضاء هيئة التدريس بجامعة الملك عبدالعزيز وغيرهم. سنقدم المحتوى في قالب مختلف وبتقنيات تصويرعالية الجودة ووسائل ايضاح جذابة، وبنمط يعتبر الأحدث حاليًا في عالم التدريب والتعلم الإلكتروني وهو ما يعرف بالمساقات الجماعية المفتوحة. ويُطلق عليه باللغة الإنجليزية اسم <BDO DIR="LTR">(MOOCs) Massive Open Online Courses</BDO>.</p>

    <h2>لماذا قامت جامعة الملك عبدالعزيز بإطلاق منصة التدريب الإلكترونية KAUx ؟</h2>
    <p>انطلاقًا إلى ما وصلت إليه التقنية الحديثة من استخدامات في مجال التدريب والتعلم بحيث أصبحت وسيلة فعالة في نقل العلم والمعرفة، وتحويلهما إلي بيئة أبداعية تفاعلية تنمي مهارات المتدرب بطرق ذكية غير مسبوقة لا تتوفر في التدريب التقليدي، ورغبةً من جامعة الملك عبدالعزيز من الإستفادة من هذا التقدم السريع في تقنيات التعلم عبر الانترنت أنشأت المنصة لتحقيق الأهداف التالية:</p>
    <p>1- نشر العلم والمعرفة.</p>
    <p>2- تعزيز المسؤولية المجتمعية لجامعة الملك عبدالعزيز عبر المساهمة في توفير التدريب لأفراد المجتمع.</p>
    <p>3- استحداث منهجيات تدريب تفي بإحتياجات المستفيدين من داخل الجامعة وخارجها.</p>
    <p>4- تطوير المهارات المهنية (Hard Skills) والشخصية (Soft skills) لدى المتدربين.</p>

    <h2>إلى ماذا يرمز الحرفX  في KAUx؟</h2>
    <p>يرمز الحرف “X” فيKAUx  إلى التوسع eXpanding وأيضا إلى التجربة eXperimenting حيث تسعى جامعة الملك عبدالعزيز إلى توسيع نطاق خدماتها للمجتمع من خلال تقديم مساقات تدريبية مجانية لكل من يريد التعلم، بالإضافة إلى تجربة أنماط جديدة في التعلم قد يكون لها التأثير الأكبر في تغير أساليب التعليم الجامعي في المستقبل.</p>

    <h2>اهتمامنا</h2>
    <p>نهتم بمساعدة المتدربين على التعلم بطريقة أفضل وأسرع من خلال عرض مساقاتنا التدريبية على المنصة، ولهذا نختارمساقاتنا بعناية ونصممها بإحترافية. ابتداءً من اختيار المدربين، مرورًا بتصميم وتطوير المادة التدريبية مع مراعاة الأساليب التربوية الفعالة لتقديمها، وهي:</p>

    <ul>
      <li>
        التعلم القائم على المخرجات التعليمة: نطورالقطع التعليمية بناءً على مخرجات التعلم للعالم التربويBenjamin Bloom ، والتى تساعد المتدربين على فهم كامل الموضوع قبل الانتقال إلى موضوع أكثر تقدمًا.
      </li>
      <li>
        فعالية التعلم: تقدم المنصة المساقات التدريبية في بيئة تفاعلية تساعد المتدربين على التعلم واكتساب المهارات.
      </li>
      <li>
        التقييم المباشر: تقدم المنصة تقييمًا مباشرًا للعملية التعليمية من خلال الواجبات والمشاريع والاختبارات المختلفة.
      </li>
      <li>
        التقييم غير المباشر: لكون المساقات تقدم لعدد هائل من المتعلمين، سيتم الاعتماد أيضا على تقييم المتدربين لبعضهم لبعض حيث يمكن لهم تقييم وتوفير التغذية المرتدة على نشاطات كل منهما.
      </li>
    </ul>

    <h2>مميزات التعلم مع KAUx</h2>
    <ul class="nonstyle">
      <li>
        <b>مساقات متنوعة</b><br>
        ستجد في منصتنا العديد من المساقات التعليمية والتدريبية المتنوعة والتي نطمح أن ترضي شغفك المعرفي وتلبي احتياجاتك المهنية.
      </li>
      <li>
        <b>وسائل تعليمية مساندة</b><br>
        سنقدم لك مساقاتنا بأحدث وسائل العرض مصحوبة بالرسومات التوضيحية والأنشطة التفاعلية المتعلقة بها، بالإضافة إلى توفير مصادر تعلم إضافية ومواد إثرائية.
      </li>
      <li>
        <b>حلقات النقاش ومجتمعات التعلم</b><br>
        ستجد بمساقاتنا العديد من المتدربين ذوي الاهتمام المشترك يشاركونك التعلم والفائدة. وبكل سهولة ستتمكن من الحوار معهم؛ وستفيدهم وتستفيد منهم.
      </li>
      <li>
        <b>شهادة إكمال مساق</b><br>
        ستحصل على شهادة إكمال مساق لبعض المساقات التدريبية بعد تحقيقك لكل متطلباتها.
      </li>
    </ul>

    <h2>من يقوم على إدارة المنصة ؟</h2>
    <p>تتولى وحدة التدريب الإلكتروني بمركز تطوير التعليم الجامعي بجامعة الملك عبدالعزيز الإشراف على المنصة وعلى تطويرها و على تصميم المساقات وعرضها على المنصة.</p>
  </section>

</section>
</section>
