<%! 
	from django.core.urlresolvers import reverse
	from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
  static_faq_html = theming.options('static', 'static_faq_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_faq_title', default= _('FAQ'))}</title></%block>

<div class="static-banner-faq">
  <div class="container static-banner__content">
    <h2 class="static-banner__title">${_("FAQ")}</h2>
  </div>
</div>

<section class="content-container p-5">
 <div class="container faq">
  <section>
    <p>
      <b>س/ ماذا يُعنى بكلمة "مساق" ؟</b><br>
      برنامج تدريبي يقدم عبر الإنترنت ويسمح بمشاركة عدد ضخم من المتعلمين ويخلق ميدان نقاش وتخاطب للجميع.
    </p>
    <p>
      <b>س/ هل التسجيل بالمنصة مجاني؟</b><br>
      نعم، مجاني ومتاح لكل من يريد التعلم. ويتم التسجيل وفق خطوات بسيطة وميسرة.
    </p>
    <p>
      <b>س/ هل للمنصة علاقة بمناهج الدراسة بجامعة الملك عبدالعزيز؟</b><br>
      لا، المنصة تقدم مساقات لا علاقة لها بالمنهج الجامعي.
    </p>
    <p>
      <b>س/ هل المنصة مختصة فقط بطلاب ومنسوبي جامعة الملك عبدالعزيز؟</b><br>
      لا، مساقات المنصة متاحة للجميع من داخل الجامعة وخارجها.
    </p>
    <p>
      <b>س/ هل بالإمكان استخدام رقمي الجامعي الخاص بي في جامعة الملك عبدالعزيز للتسجيل بالمنصة؟</b><br>
      نعم، متاح لكافة منسوبي جامعة الملك عبدالعزيز وطلابها الدخول للمنصة بأرقامهم الجامعية.
    </p>
    <p>
      <b>س/ كيف انضم للمساقات وما الذي يتوجب علي فعله؟</b><br>
    </p>
    <ul class="nonstyle">
      <li>* تسجل بالمساق الذي ترغب بالانضمام له بعد استعراضك لمعلوماته ومتطلباته.</li>
      <li>* تبدأ بمشاهدة محاضرات المساق في الوقت الذي تريد.</li>
      <li>* حلقات النقاش ومجتمعات التعلم</li>
      <li>* تنجز متطلبات المساق من أنشطة تفاعلية وأسئلة متنوعة واختبارات ونحوه.</li>
      <li>* تنهي المساق بنجاح.</li>
      <li>* تحصل على شهادة اكمال المساق.</li>
    </ul>
    <p>
      <b>س/ ما هي آلية تقديم المساقات بالمنصة؟</b><br>
      نقوم باختيار المساقات من عدة مجالات مختلفة، وعلى ضوء ذلك يتم اختيار أفضل المدربين لتقديم هذه المواد بنظام المحاضرات المسجلة بالفيديو عالي الجودة والمدعم برسوم توضيحية ومواد إثرائية وأنشطة مختلفة. تتراوح مدة المساق الواحد ما بين 30 إلى 90 دقيقة تقريبًا، مجزأة إلى عدة مقاطع ما بين 3 إلى 10 دقائق، ويمثل كل مقطع عنصرًا واحدًا من عناصر المادة التدريبية. وبإمكان المتدرب مشاهدتها في أي وقت يشاء.
    </p>
    <p>
      <b>س/ هل هناك حد أعلى في حضور المتدرب للمساقات؟</b><br>
      لا، بإمكان المتدرب حضور عدد لا نهائي من المساقات.
    </p>
    <p>
      <b>س/ هل يتم منحي شهادة عند اكمالي للمساق؟</b><br>
      نعم، وتسمى "شهادة إكمال مساق" وتمنح للمتقدم بعد استيفاءه لكافة متطلبات المساق ولبعض المساقات القائمة وليس كلها.
    </p>
    <p>
      <b>س/ هل الشهادة التي تقدمها المنصة معتمدة وكيف أحصل عليها؟</b><br>
      الشهادة مقدمة من جامعة الملك عبدالعزيز، وتحصل على نسخة إلكترونية فقط لكل مساق تكمله.
    </p>
    <p>
      <b>س/ لماذا أكثر المدربين بالمنصة من جامعة الملك عبدالعزيز؟</b><br>
      بجامعة الملك عبدالعزيز الكثير من المدربين الأكفاء والمعتمدين من مراكز تدريب مختلفة، وتم استقطاب جزء كبير منهم للتدريب بالمنصة ولكن هذا لا ولن يمنع أن نتعاون مع مدربين من خارج الجامعة.
    </p>
    <p>
      <b>س/ هل بالإمكان التواصل شخصيًا مع مدرب المادة؟</b><br>
      لا، جميع مساقتنا مسجلة مسبقاً و تعتمد على التعلم الذاتي ولكن يمكنك التواصل شخصيًا مع مدرب المادة عبر وسائل التواصل الخاصة به ضمن ملفه الشخصي.
    </p>
    <p>
      <b>س/ أنا مدرب هل بإمكاني التقديم للتدريب بالمنصة ؟</b><br>
      بكل سرور نرحب بك، يمكنك مراسلتنا عبر قنوات الاتصال المتاحة بالمنصة، وسيتم التواصل لبحث امكانية التعاون.
    </p>
  </section>
</div>

</section>
