/* ======================
  Navbar Component
====================== */
.navbar .nav-link {
  font-size: 13px;
  margin: 0 20px;
}

.navbar .mobile-menu .nav-link{
  margin: 0;
}

.settings-language-values {
  color: #003D71;
  font-size: 13px;
  background-color: #FFF;
  border-color: #003D71;
  }


/* ======================
  Banner Component
====================== */
.home-intro {
  height: 70vh;

  &::before{ 
    background-color: none;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.49) 0%, rgba(0, 0, 0, 0) 70%, transparent 100%);
  }

  .content-container { 
    h1{
      color: $white;
      font-weight: 900 !important;
      font-size: 64px;
    }
  }
}

/* ======================
  About Component
====================== */
.about-component {
  position: relative;
  width: 100%;
  min-height: 150px;
  padding: 0;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $white;
    z-index: 0;
  }
}

.about-component__content {
  position: relative;
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
  padding: 46px 0;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
}

.about-component__title {
  font-weight: 700;
  font-style: normal;
  font-size: 34px;
  margin: 0 0 30px;
  color: $main-color;
}

.about-component__separator {
  width: 100px;
  height: 2px;
  background-color: $main-color;
  margin: 0 auto 25px;
}

.about-component__paragraph {
  margin-bottom: 14px;
  font-size: 16px;
  line-height: 1.5;
}

a.about-component__btn {
  display: inline-block;
  margin-top: 15px;
  padding: 15px 25px;
  color: $white;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  background-image: none;
  background-color: $main-color;
  outline: none;
  text-shadow: none;
  border-radius: 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  &:link,
  &:visited,
  &:visited {
    color: $white;
  }

  &:hover {
    padding: 15px 38px;
    // color: $main-color;
    text-decoration: none;
    // background: $white;
  }
}

/* ======================
  Course Component
====================== */
.home-courses {
  border-top: 2px solid #D9D9DC;
  border-bottom: 2px solid #D9D9DC;
  background-color: #ECECEE;
  height: 500px;
}

.courses-container {
  padding: 18px 10px 0;
}

.courses-listing-item {
  width: 368px;
  padding-bottom: 0;
  background: $white;
  border: 1px solid #D9D9DC;

  .course-tile {
    margin-bottom: 0;
  }

  .course-tile__body {
    border: 0;
  }
}

.course-component__title {
  font-size: 34px;
  color: #A0A0A8;
  margin: 0 0 22px;
}

.course-tile {
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 1;

  &.opaque {
    opacity: 0.5;
  }

  &__body {
    border: 1px solid #D9D9DC;
    background-color: $white;
    width: 100%;
  }

  &__image {
    position: relative;
    overflow: hidden;
    height: 240px;

    & img {
      width: 100%;
      min-height: 100%;
      height: auto;
      transition: all 0.3s ease-in-out;
    }

    &::after {
      content: ' ';
      width: 100%;
      height: 4px;
      background-color: #000;
      opacity: 0.1;
      position: absolute;
      bottom: 0;
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  &__info {
    //padding: 20px 20px;
  }

  &__date {
    color: #8D8D97;
    font-size: 14px;
    display: block;
    margin-bottom: 2px;
  }

  &__name {
    color: #414151;
    font-size: 18px;
    line-height: 130%;
    display: block;
    min-height: 46px;

    a {
      color: #414151 !important;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #414151;
      }
    }
  }

  &__instructor {
    color: #7A7A85;
    font-size: 12px;
    display: block;
  }

  &__separator {
    width: 100px;
    height: 4px;
    margin: 15px 0;
    background-color: $main-color;
  }

  & p {

  }

  &__cta,
  &__cta:link,
  &__cta:visited {
    font-size: 16px;
    color: $main-color;

    &:hover, &:focus {
      text-decoration: none;
      color: $main-color;
    }
  }

  &:hover,
  &:focus {

    & .course-tile {

      &__image {

        & img {
          transform: scale(1.05);
        }

        &::after {
          height: 6px;
        }
      }
    }
  }
}

.main-cta a,
.main-cta span,
.search-button span,
.cancel-button span,
.empty-dashboard-message a {
  color: #FFF !important;
}

.dashboard-search-bar .cancel-button {
  display: none;
}

.content-wrapper a.action-resume-course,
.content-wrapper a.action-resume-course span,
.content-wrapper .transcript-option a,
.course-outline .btn span,
.discussion-show .button-text {
  color: #FFF !important;
}

.container > div {
  display: table;
}

/* ======================
  Course Catalogue
====================== */
.courses-banner {
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 50px 30px;
  text-align: center;
  overflow: hidden;
}

.courses-banner__content {
  position: relative;
  max-width: 880px;
  margin: 0 auto;
  padding: 24px;
  background: rgba(243, 243, 243, 0.7);
  border-radius: 3px;
  z-index: 1;

  img {
    max-width: 320px;
    margin-bottom: 10px;
  }

  p {
    color: $main-color;
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
  }
}

.courses-banner__image {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 0;
}

.course-list-view {
  padding: 30px;
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

.course-list-item {
  display: flex;
  margin-bottom: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 1;

  &.opaque {
    opacity: 0.5;
  }

  &__body {
    background-color: $white;
  }

  &__cover {
    display: flex;
    width: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    align-items: center;

    &-image {
      max-width: 100%;
      border: 1px solid #DDD;
    }
  }

  &__info {
    padding: 20px 20px;
    flex-grow: 1;
    flex-shrink: 1;
  }

  &__date {
    display: block;
    margin-bottom: 2px;
    color: #8d8d97;
    font-size: 14px;
    font-weight: bold;
  }

  &__name {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;

    & a {
      color: #414151 !important;
      text-decoration: none;

    }
  }

  &__instructor {
    display: block;
    color: #7A7A85;
    font-size: 12px;
  }

  &__separator {
    width: 100px;
    height: 4px;
    margin: 15px 0;
    background-color: $main-color;
  }

  & p {

  }

  &__cta, 
  &__cta:link, 
  &__cta:visited {
    font-size: 16px;
    color: $main-color;

    &:hover, 
    &:focus {
      text-decoration: none;
      color: $main-color;
    }
  }

  &:hover, 
  &:focus {
    transform: scale(1.02);
  }
}

.course-list-search {

  &__filters {
    padding: 30px 0;
    border: 0;

    ul {
      padding: 0;
      display: inline-block;

      li {
        list-style-type: none;
        margin: 5px;
      }
    }

    span {
      display: inline-block;
      margin: 5px;
    }

    button {
      padding: 10px 15px;
      font-weight: bolder;

      span {
        margin: 0 5px 0 0;
      }

      i {
        opacity: 0.5;
      }
    }
  }
}

.courses-listing-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* ======================
  Course About
====================== */
.course-header {
  
  .container {
    padding: 0;
  }

  &__container {
    display: flex !important;
    align-items: center;
    padding: 40px 0;
    border-bottom: 4px solid $main-color;

    &::before, 
    &::after {
      display: none;
    }
  }

  &__image {
    // @include grid-column(4);
    position: relative;
    padding: 0 15px;
    flex-grow: 0;
    flex-shrink: 0;

    & img {
      max-width: 100%;
      height: auto;
      display: block;
      border: 1px solid rgba(#000, 0.05);

    }

    &.has-video {
      cursor: pointer;
    }


    &__video-indicator {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;

      & i {
        width: 100%;
        font-size: 82px;
        text-align: center;
        color: $white;
        opacity: 0.65;
        transition: all 0.3s ease-in-out;
      }
    }

    &:hover, 
    &:focus {

      i {
        opacity: 1;
        text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
      }
    }
  }

  &__info {
    // @include grid-column(8);
  }

  &__title {
    padding: 0 15px;
    font-weight: bold;
    font-size: 48px;
    margin: 0 0 20px;
    line-height: 130%;
    color: $main-color;
    text-align: left;

  }

  &__short-info {
    font-size: 20px;
    line-height: 140%;
  }
}

.course-information {

  // @include grid-column(8);
  padding-left: 20px;

  &__group, section {
    margin-bottom: 30px;
    float: left;
    width: 100%;
  }

  &__title, section h2 {
    font-size: 24px;
    margin: 0 0 15px;
  }

  & p {
    text-align: justify;
    margin-top: 10px;
  }

  & ul {

    & li {
      padding: 5px 0;
    }
  }

  .teacher {
    display: block;
    padding: 8px 0;
    float: left;
    width: 100%;

    .teacher-image {
      float: left;
      overflow: hidden;
      border-radius: 100%;
      width: 15%;
      margin-right: 3%;

      img {
        width: 100%;
        height: auto;
      }

    }
    h3 {
      margin: 10px 0 5px;
      font-size: 18px;
      color: $main-color;
      width: 82%;

    }

    p {
      width: 81%;


    }
  }

  &__instructor {
    display: flex;
    align-items: center;
    padding: 8px 0;

    &__image {
      background-size: cover;
      background-position: center center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      flex-shrink: 0;
      margin-right: 20px;

    }

    &__name, h3 {
      margin: 10px 0 5px;
      font-size: 18px;
      color: $main-color;
      width: 82%;
    }

    &__title {
      font-size: 12px;
      margin: -5px 0 5px;
      display: block;
      width: 82%
    }
  }

  .faq {

    h3 {
      margin: 20px 0 5px;
      font-size: 18px;
    }
  }
}

.course-meta {
  // @include grid-column(4);
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  margin-bottom: 20px;

  &__start-date {
    font-weight: 900;
    font-size: 18px;
    color: $main-color !important;
  }

  &__end-date {
    font-weight: 900;
    font-size: 18px;
    color: #414151 !important;
    font-size: 14px;
    opacity: 0.6;
  }

  &__enroll-button, 
  &__enroll-button:link, 
  &__enroll-button:visited {
    display: inline-block;
    margin: 25px 20px;
    padding: 15px 25px;
    color: $white !important;
    font-size: 18px;
    font-weight: 400;
    text-shadow: none;
    line-height: inherit;
    text-decoration: none;
    background-color: $main-color;
    background-image: none;
    border: none;
    outline: none;
    border-radius: 0;
    box-shadow: none;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &.unavailable {
      color: $white !important;
      background-color: #BBB;
    }

    &__container {
      margin: 25px 20px;

    }
  }

  &__number {
    font-size: 16px;
    font-weight: 700;
    opacity: 0.6;

    & span {
      font-weight: 400;
    }
  }
}

/* ======================
  login
====================== */
.login.container {
  min-height: 630px;
}
/* ======================
  dashboard
====================== */
.dashboard {
  min-height: 750px;
}

/* ======================
  Static Contents
====================== */
.container.tos,
.container.faq,
.container.about,
.container.privacy {
  padding: 20px 30px 120px;

  p {
    text-align: justify;
  }

  ul {
    @include padding-left( 40px );
    &.nonstyle {
      list-style: none;
    }
  }

  li {
    margin-bottom: 16px;
    line-height: 1.5;
  }

  h1,
  h2,
  b {
    color: $main-color;
    font-weight: bold;
    text-transform: none;
  }
}


/* ======================
  Footer Component
====================== */
.footer {
  width: 100%;
  padding: 20px;
  color: $white;
  font-size: 14px;
  background-color: $main-color;
  position: relative;

  a,
  a:link,
  a:visited {
    color: $white;

    &:hover,
    &:focus {
      color: rgba($white, 0.7);
      text-decoration: none;
    }
  }

  .content-container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;


    &::before {
      display: none !important;
    }

    &::after {
      display: none !important;
    }

  }

   .footer-description {
    margin-bottom: 10px;
    color: $white !important;
  }

  .footer-links {
    padding: 0;
    margin: 0;

    a {
      display: inline-block;
      list-style-type: none;
      padding: 0 15px;
      border-right: 1px solid rgba(255, 255, 255, 0.3);

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }

  .footer-logo {
    padding: 15px 30px 15px 0;
    margin-right: 20px;
    border-right: 1px solid rgba($white, 0.3);
    transition: all 0.3s ease-in-out;

    &:hover,
    &:focus {
      padding-right: 40px;
    }

    & img {
      height: 28px;
      width: auto;

      &:hover,
      &:focus {
        transform: none;
      }
    }
  }

  .footer-logo.openedx,
  .footer-logo.edunext {
    border-right: 0;
    border-left: 1px solid rgba($white, 0.3);
    padding: 5px 30px 5px 0;

    & img{
      height: 25px;

      &:hover,
      &:focus{
      transform: scale3d(1.05, 1.05, 1.05);
    }
    }

    
  }

  &__poweredby {
    display: flex;
    align-items: center;
    margin-left: 20px;
    padding: 20px 0 20px 20px;
    font-size: 12px;
    border-left: 1px solid #CCC;
    transition: all 0.3s ease-in-out;
    opacity: 0.25;

    &:hover, 
    &:focus {
      opacity: 1;

      & span {
        margin-right: 10px;
      }
    }

    span {
      display: inline-block;
      color: $white;
      line-height: 100%;
      transition: all 0.3s ease-in-out;
    }

    &__logo {
      display: inline-block;
      margin-left: 20px;
      padding: 0;
      opacity: 0.6;
      transition: all 0.3s ease-in-out;

      &:hover, &:focus {
        opacity: 1;
      }
    }

    img {
      height: 14px;
      width: auto;
    }
  }
}
