<%inherit file="/main.html" />
<%namespace file="/static_content.html" name='static' />
<%namespace file='/main.html' import="login_query"/>
<%!
  from django.utils.translation import ugettext as _
  from django.core.urlresolvers import reverse
  from django.utils import html
  from django_countries import countries
  from django.utils.translation import ugettext as _
  from django.conf import settings
  from student.models import UserProfile

  from datetime import date
  import third_party_auth
  from third_party_auth import pipeline, provider
  import calendar
%>

<%
  register_header_html = theming.options('register', 'register_header_html', default=False)

  register_text_html = theming.options('register', 'register_text_html', default=False)
  register_text = theming.options('register', 'register_text', default= {})

  register_text_bottom_html = theming.options('register', 'register_text_bottom_html', default=False)
  register_text_bottom = theming.options('register', 'register_text_bottom', default= {})
%>

<%block name="pagetitle">${_("Register for {platform_name}").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">view-register</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
      window.open( $(this).attr('href') );
      return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

    });

    (function() {
      toggleSubmitButton(true);

      $('#register-form').on('submit', function() {
        toggleSubmitButton(false);
      });

      $('#register-form').on('ajax:error', function() {
        toggleSubmitButton(true);
      });

      $('#register-form').on('ajax:success', function(event, json, xhr) {
        var nextUrl = "${login_redirect_url}";
        if (json.redirect_url) {
          nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
        }
        if (!isExternal(nextUrl)) {
          location.href=nextUrl;
        } else {
          location.href="${reverse('dashboard')}";
        }
      });

      $('#register-form').on('ajax:error', function(event, jqXHR, textStatus) {
        toggleSubmitButton(true);
        json = $.parseJSON(jqXHR.responseText);
        $('.status.message.submission-error').addClass('is-shown').focus();
        $('.status.message.submission-error .message-copy').html(json.value).stop().css("display", "block");
        $(".field-error").removeClass('field-error');
        $("[data-field='"+json.field+"']").addClass('field-error')
      });
    })(this);

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          attr('aria-disabled', false).
          prop('disabled', false).
          html("${_('Create My {platform_name} Account').format(platform_name=platform_name)}");
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_('Processing your account information')}");
      }
    }
  </script>
</%block>

% if register_header_html:
  ${register_header_html}
% else:
  <section class="register-header introduction mb-4 py-5 px-4">
    <header class="d-md-flex align-items-center">
      <h1 class="title mb-0 px-0">
        <span class="title-super">${_("Welcome!")}</span>
        <span class="title-sub">${_("Register below to create your {platform_name} account").format(platform_name=platform_name)}</span>
      </h1>
    </header>
  </section>
% endif

<section class="register container p-4">
  <section role="main" class="content">
    % if register_text_html:
      ${register_text_html}
    % else:
      %if register_text:
        <div class="register-text mx-0 mb-4">
          <h2>${register_text.get('title', '') | h}</h2>
          <p class="mb-0">${register_text.get('paragraph', '') | h}</p>
        </div>
      % endif
    % endif

    <form role="form" id="register-form" method="post" data-remote="true" action="/create_account" novalidate>
      <input type="hidden" name="csrfmiddlewaretoken" value="${ csrf_token }">

      <!-- status messages -->
      <div role="alert" class="status message submission-error" tabindex="-1">
        <h3 class="message-title">${_("The following errors occurred while processing your registration:")} </h3>
        <ul class="message-copy"> </ul>
      </div>

      % if has_extauth_info is UNDEFINED:
        <a class="btn login-register mb-2" href="${reverse('signin_user')}${login_query()}">${_("Already registered?")} - ${_("Log in")}</a>
      % endif

      <span class="deco-divider">

      % if third_party_auth.is_enabled():

        % if not running_pipeline:

        <div class="form-actions form-third-party-auth">

        % for enabled in provider.Registry.displayed_for_login():
          ## Translators: provider_name is the name of an external, third-party user authentication service (like Google or LinkedIn).
          <button type="submit" class="button button-primary button-${enabled.provider_id} register-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_urls[enabled.provider_id]}');"><span class="icon fa ${enabled.icon_class}"></span>${_('Sign up with {provider_name}').format(provider_name=enabled.name)}</button>
        % endfor

        </div>

        <span class="deco-divider">
          ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
          ## Translators: this is the last choice of a number of choices of how to log in to the site.
          <span class="copy">${_('or')}</span>
        </span>

        <p class="instructions">
          ${_('Create your own {platform_name} account below').format(platform_name=platform_name)}
          <span class="note">${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}</span>
        </p>


        % else:

        <p class="instructions">
          ## Translators: selected_provider is the name of an external, third-party user authentication service (like Google or LinkedIn).
          ${_("You've successfully signed in with {selected_provider}.").format(selected_provider='<strong>%s</strong>' % selected_provider)}<br />
          ${_("We just need a little more information before you start learning with {platform_name}.").format(platform_name=settings.PLATFORM_NAME)}
        </p>

        % endif

      % else:

      <p class="instructions">
        ${_("Please complete the following fields to register for an account. ")}<br />
        ${_('Required fields are noted by <strong class="indicator">bold text and an asterisk (*)</strong>.')}
      </p>

      % endif

      <div class="group group-form group-form-requiredinformation">
        <h2 class="sr">${_('Required Information')}</h2>

        % if has_extauth_info is UNDEFINED:

        <ol class="list-input">
          <li class="field required text" id="field-email">
            <label for="email">${_('E-mail')}</label>
            <input class="" id="email" type="email" name="email" value="${email}" placeholder="${_('example: username@domain.com')}" required aria-required="true" />
          </li>

          <li class="field required text" id="field-name">
            <label for="name">${_('Full Name')}</label>
            <input id="name" type="text" name="name" value="${name}" placeholder="Ejemplo: Juliana Maria Sánchez Velásquez" required aria-required="true" aria-describedby="name-tip" />
            <span class="tip tip-input" id="name-tip">Escriba sus nombres y apellidos completos, tal como aparecen en su acta de nacimiento (esta información aparecerá así en las constancias y/o documentación que le expida a usted Atentamente y que le puede ser de utilidad)</span>
          </li>
          <li class="field required text" id="field-username">
            <label for="username">${_('Public Username')}</label>
            <input id="username" type="text" name="username" value="${username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip"/>
            <span class="tip tip-input" id="username-tip">${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
          </li>

          % if third_party_auth.is_enabled() and running_pipeline:

          <li class="is-disabled field optional password" id="field-password" hidden>
            <label for="password">${_('Password')}</label>
            <input id="password" type="password" name="password" value="" disabled required aria-required="true" />
          </li>

          % else:

          <li class="field required password" id="field-password">
            <label for="password">${_('Password')}</label>
            <input id="password" type="password" name="password" value="" required aria-required="true" />
          </li>

          % endif
        </ol>

        % else:

        <div class="message">
          <h3 class="message-title">${_("Welcome {username}").format(username=extauth_id)}</h3>
          <p class="message-copy">${_("Enter a Public Display Name:")}</p>
        </div>

        <ol class="list-input">

          % if ask_for_email:

          <li class="field required text" id="field-email">
            <label for="email">${_("E-mail")}</label>
            <input class="" id="email" type="email" name="email" value="" placeholder="${_('example: username@domain.com')}" />
          </li>

          % endif

          <li class="field required text" id="field-username">
            <label for="username">${_('Public Display Name')}</label>
            <input id="username" type="text" name="username" value="${extauth_username}" placeholder="${_('example: JaneDoe')}" required aria-required="true" aria-describedby="username-tip" />
            <span class="tip tip-input" id="id="username-tip>${_('Will be shown in any discussions or forums you participate in')} <strong>(${_('cannot be changed later')})</strong></span>
          </li>

          % if ask_for_fullname:

          <li class="field required text" id="field-name">
            <label for="name">${_('Full Name')}</label>
            <input id="name" type="text" name="name" value="" placeholder="$_('example: Jane Doe')}" aria-describedby="name-tip" />
            <span class="tip tip-input" id="name-tip">${_("Your legal name, used for any certificates you earn.")}</span>
          </li>

          % endif

        </ol>

        % endif
      </div>

      <div class="group group-form group-form-secondary group-form-personalinformation">
        <h2 class="sr">${_("Additional Personal Information")}</h2>

        <ol class="list-input">

          % if settings.REGISTRATION_EXTRA_FIELD.get('curp', '') != 'hidden':
          <li class="field ${settings.REGISTRATION_EXTRA_FIELD.get('curp', '')} text" id="field-curp">
            <label for="curp">${_(u'CURP')}</label>
            <input id="curp" type="text" name="curp" value="" placeholder="" aria-describedby="curp-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('curp', '') == 'required' else ''} />
          </li>  
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('cct', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('cct', '')} select" id="field-cct">
              <label for="cct">${_("Clave del Centro de Trabajo (CCT)")}</label>
              <select id="cct" name="cct" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('cct', '') == 'required' else ''}>
                <option value="">--</option>
                <option value="19EJN0527F">19EJN0527F</option>
                <option value="19EJN0157D">19EJN0157D</option>
                <option value="19DJN0667G">19DJN0667G</option>
                <option value="19DJN0922H">19DJN0922H</option>
                <option value="19DJN0508S">19DJN0508S</option>
                <option value="19DJN0364M">19DJN0364M</option>
                <option value="19EJN0530T">19EJN0530T</option>
                <option value="19EJN0469F">19EJN0469F</option>
                <option value="19EJN0514B">19EJN0514B</option>
                <option value="19DJN0555C">19DJN0555C</option>
                <option value="19EJN0512D">19EJN0512D</option>
                <option value="19EJN0269H">19EJN0269H</option>
                <option value="19EJN0519X">19EJN0519X</option>
                <option value="19DJN0553E">19DJN0553E</option>
                <option value="19DJN0650G">19DJN0650G</option>
                <option value="19DJN0114G">19DJN0114G</option>
                <option value="19DJN0732Q">19DJN0732Q</option>
                <option value="19DJN0129I">19DJN0129I</option>
                <option value="19EJN0515A">19EJN0515A</option>
                <option value="19DJN0699Z">19DJN0699Z</option>
                <option value="19DJN0918V">19DJN0918V</option>
                <option value="19DJN2218P">19DJN2218P</option>
                <option value="18DJN2149J">18DJN2149J</option>
                <option value="19DJN0928B">19DJN0928B</option>
                <option value="19DJN629D">19DJN629D</option>
                <option value="19EJN0490I">19EJN0490I</option>
                <option value="19EJN0529D">19EJN0529D</option>
                <option value="19DJN0139P">19DJN0139P</option>
                <option value="19DJN2034I">19DJN2034I</option>
                <option value="19DJN2167Z">19DJN2167Z</option>
                <option value="19DJN2185O">19DJN2185O</option>
                <option value="19DJN0687U">19DJN0687U</option>
                <option value="19DJN0205Y">19DJN0205Y</option>
                <option value="19DJN2235F">19DJN2235F</option>
                <option value="19DJN2012X">19DJN2012X</option>
                <option value="19DJN0954Z">19DJN0954Z</option>
                <option value="19DJN2187M">19DJN2187M</option>
                <option value="19DJN2186N">19DJN2186N</option>
                <option value="19DJN0691G">19DJN0691G</option>
                <option value="19DJN0914Z">19DJN0914Z</option>
                <option value="19DJN0477P">19DJN0477P</option>
                <option value="19EJN0489T">19EJN0489T</option>
                <option value="19EJN0533Q">19EJN0533Q</option>
                <option value="19DJN0802V">19DJN0802V</option>
                <option value="19EJN0589S">19EJN0589S</option>
                <option value="19EJN0309S">19EJN0309S</option>
                <option value="19DJN2011Y">19DJN2011Y</option>
                <option value="19DJN0583Z">19DJN0583Z</option>
                <option value="19DJN0505V">19DJN0505V</option>
                <option value="19DJN2000S">19DJN2000S</option>
                <option value="19EJN0641Y">19EJN0641Y</option>
                <option value="19EJN0651E">19EJN0651E</option>
                <option value="19DJN0610F">19DJN0610F</option>
                <option value="19DJN0637M">19DJN0637M</option>
                <option value="19DJN0929A">19DJN0929A</option>
                <option value="19DJN0206X">19DJN0206X</option>
                <option value="19DJN0718Z">19DJN0718Z</option>
                <option value="19DJN0926D">19DJN0926D</option>
                <option value="19EJN0657Z">19EJN0657Z</option>
                <option value="19EJN0667F">19EJN0667F</option>
                <option value="19EJN0658Y">19EJN0658Y</option>
                <option value="19EJN0668E">19EJN0668E</option>
                <option value="19EJN0511E">19EJN0511E</option>
                <option value="19DJN0976L">19DJN0976L</option>
                <option value="19DJN2330J">19DJN2330J</option>
                <option value="19DJN2339A">19DJN2339A</option>
                <option value="19DJN0556B">19DJN0556B</option>
                <option value="19EJN0495D">19EJN0495D</option>
                <option value="19DJN0365L">19DJN0365L</option>
                <option value="19DJN2285N">19DJN2285N</option>
                <option value="19DJN0705T">19DJN0705T</option>
                <option value="19DJN0979I">19DJN0979I</option>
                <option value="19DJN0490J">19DJN0490J</option>
                <option value="19DJN0150L">19DJN0150L</option>
                <option value="19DJN0730S">19DJN0730S</option>
                <option value="19DJN04731R">19DJN04731R</option>
                <option value="19DJN0930Q">19DJN0930Q</option>
                <option value="19DJN0140E">19DJN0140E</option>
                <option value="19EJN0475Q">19EJN0475Q</option>
                <option value="19EJN0156E">19EJN0156E</option>
                <option value="19EJN0640O">19EJN0640O</option>
                <option value="19DJN0166M">19DJN0166M</option>
                <option value="19DJN0339N">19DJN0339N</option>
                <option value="19EJN0488U">19EJN0488U</option>
                <option value="19EJN0531S">19EJN0531S</option>
                <option value="19DJN0675P">19DJN0675P</option>
                <option value="19DJN0733P">19DJN0733P</option>
                <option value="19EJN0232U">19EJN0232U</option>
                <option value="19DJN0931P">19DJN0931P</option>
                <option value="19DJN0820K">19DJN0820K</option>
                <option value="19DJN2286M">19DJN2286M</option>
                <option value="19DJN2293W">19DJN2293W</option>
                <option value="19EJN0590H">19EJN0590H</option>
                <option value="19DJN2271K">19DJN2271K</option>
                <option value="19DJN2291Y">19DJN2291Y</option>
                <option value="19DJN0925E">19DJN0925E</option>
                <option value="19DJN0729C">19DJN0729C</option>
                <option value="19EJN0646T">19EJN0646T</option>
                <option value="19EJN0652D">19EJN0652D</option>
                <option value="19DJN0402Z">19DJN0402Z</option>
                <option value="19DJN2135G">19DJN2135G</option>
                <option value="19DJN2262C">19DJN2262C</option>
                <option value="19DJN2021E">19DJN2021E</option>
                <option value="19DJN2131K">19DJN2131K</option>
                <option value="19DJN0920J">19DJN0920J</option>
                <option value="19DJN0130Y">19DJN0130Y</option>
                <option value="19EJN0633P">19EJN0633P</option>
                <option value="19EJN0648R">19EJN0648R</option>
                <option value="19EJNO525H">19EJNO525H</option>
                <option value="19DJN2091Z">19DJN2091Z</option>
                <option value="19DJN2092Z">19DJN2092Z</option>
                <option value="Otra">Otra</option>    
              </select>
            </div>
            </li>
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('other_cct', '') != 'hidden':
          <li class="field ${settings.REGISTRATION_EXTRA_FIELD.get('other_cct', '')} text" id="field-other_cct">
            <label for="other_cct">${_('Otra CCT')}</label>
            <input id="other_cct" type="text" name="other_cct" value="" placeholder="" aria-describedby="other_cct-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('other_cct', '') == 'required' else ''} />
          </li>  
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('phone_number', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('phone_number', '')} text" id="field-phone_number">
              <label for="phone_number">${_(u'Número de celular')}</label>
            <input id="phone_number" type="text" name="phone_number" value="" placeholder="${_(u'Número de celular:')}" aria-describedby="phone_number-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('phone_number', '') == 'required' else ''} />
            <span class="tip tip-input" id="phone_number-tip">Este será el número de celular que utilizaremos para comunicarnos con usted vía Whatsapp para los temas relacionados con su participación en el curso en línea.</span>
            </div>
          </li>
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('gender', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('gender', '')} select" id="field-gender">
              <label for="gender">${_("Sexo")}</label>
              <select id="gender" name="gender" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('gender', '') == 'required' else ''}>
                <option value="">--</option>
                %for code, gender in UserProfile.GENDER_CHOICES:
                <option value="${code}">${_(gender)}</option>
                %endfor
              </select>
            </div>
          </li>
          % endif
          % if settings.REGISTRATION_EXTRA_FIELD.get('date_of_birth', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('date_of_birth', '')} select">
              <label for="birthday">${_("Fecha de nacimiento")}</label>
              <div class="field-group">
                <div class="field select">
                  <select id="day_of_birth" name="day_of_birth">
                    <option value="none" class="placeholder" selected disabled>Día</option>
                    %for day in range(1, 32):
                    <option value="${day}">${day}</option>
                    %endfor
                  </select>
                </div>
                 <div class="field select">
                  <select id="month_of_birth" name="month_of_birth">
                    <option value="none" class="placeholder" selected disabled>Mes</option>
                    %for month in ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre']:
                    <option value="${month}">${month}</option>
                    %endfor
                  </select>
                </div>
                <div class="field select">
                  <select id="year_of_birth" name="year_of_birth">
                    <option value="none" class="placeholder" selected disabled>Año</option>
                    %for year in UserProfile.VALID_YEARS:
                    <option value="${year}">${year}</option>
                    %endfor
                  </select>
                </div>
                <input id="date-of-birth" type="hidden" name="date_of_birth" value=""/>
              </div>
            </li>
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('state_birth', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('state_birth', '')} select" id="field-state-birth">
              <label for="state_birth">${_("Estado de Nacimiento")}</label>
              <select id="state_birth" name="state_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('state_birth', '') == 'required' else ''}>
                <option value="">--</option>
                <option value="aguascalientes">Aguascalientes</option>
                <option value="baja_california">Baja California</option>
                <option value="baja_california_sur">Baja California Sur</option>
                <option value="campeche">Campeche</option>
                <option value="chiapas">Chiapas</option>
                <option value="chihuahua">Chihuahua</option> 
                <option value="ciudad_mexico">Ciudad de México</option>
                <option value="coahuila">Coahuila</option>
                <option value="colima">Colima</option>
                <option value="durango">Durango</option>
                <option value="estado_mexico">Estado de México</option>
                <option value="guanajuato">Guanajuato</option>        
                <option value="guerrero">Guerrero</option>
                <option value="hidalgo">Hidalgo</option>
                <option value="jalisco">Jalisco</option>
                <option value="michoacan">Michoacán</option>
                <option value="morelos">Morelos</option>
                <option value="nayarit">Nayarit</option> 
                <option value="nuevo_leon">Nuevo León</option>
                <option value="oaxaca">Oaxaca</option>
                <option value="puebla">Puebla</option>
                <option value="queretaro">Querétaro</option>
                <option value="quintana_roo">Quintana Roo</option>
                <option value="san_luis_potosi">San Luis Potosí</option>   
                <option value="sinaloa">Sinaloa</option>
                <option value="sonora">Sonora</option>
                <option value="tabasco">Tabasco</option>
                <option value="tamaulipas">Tamaulipas</option>
                <option value="tlaxcala">Tlaxcala</option>
                <option value="veracruz">Veracruz</option> 
                <option value="yucatan">Yucatán</option>
                <option value="zacatecas">Zacatecas</option>
                <option value="extranjero">Extranjero</option>      
              </select>
            </div>
            </li>
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('country', '') != 'hidden':
          <li class="field-group">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('country', '')} select" id="field-country">
              <label for="country">${_("Country")}</label>
              <select id="country" name="country" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('country', '') == 'required' else ''}>
                <option value="">--</option>
                %for code, country_name in countries:
                <option value="${code}">${ unicode(country_name) }</option>
                %endfor
              </select>
            </div>
          </li>
          % endif
          % if settings.REGISTRATION_EXTRA_FIELD.get('city', '') != 'hidden':
          <li class="field ${settings.REGISTRATION_EXTRA_FIELD.get('city', '')} text" id="field-city">
            <label for="city">${_('City')}</label>
            <input id="city" type="text" name="city" value="" placeholder="${_('example: New York')}" aria-describedby="city-tip" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('city', '') == 'required' else ''} />
          </li>
          % endif
          % if settings.REGISTRATION_EXTRA_FIELD.get('level_of_education', '') != 'hidden':
          <li class="field-group field-education-level">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('level_of_education', '')} select" id="field-education-level">
              <label for="education-level">${_("Highest Level of Education Completed")}</label>
              <select id="education-level" name="level_of_education" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('level_of_education', '') == 'required' else ''}>
                <option value="">--</option>
                %for code, ed_level in UserProfile.LEVEL_OF_EDUCATION_CHOICES:
                <option value="${code}">${_(ed_level)}</option>
                %endfor
              </select>
            </div>
          </li>
          % endif
          % if settings.REGISTRATION_EXTRA_FIELD.get('year_of_birth', '') != 'hidden':
          <li class="field-group field-yob">
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('year_of_birth', '')} select" id="field-yob">
              <label for="yob">${_("Year of Birth")}</label>
              <select id="yob" name="year_of_birth" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('year_of_birth', '') == 'required' else ''}>
                <option value="">--</option>
                %for year in UserProfile.VALID_YEARS:
                <option value="${year}">${year}</option>
                %endfor
              </select>
            </div>
          </li>
          % endif
        </ol>
      </div>

      <div class="group group-form group-form-personalinformation2">
        <ol class="list-input">
          % if settings.REGISTRATION_EXTRA_FIELD.get('mailing_address', '') != 'hidden':
          <li class="field ${settings.REGISTRATION_EXTRA_FIELD.get('mailing_address', '')} text" id="field-address-mailing">
            <label for="address-mailing">${_("Mailing Address")}</label>
            <textarea id="address-mailing" name="mailing_address" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('mailing_address', '') == 'required' else ''}></textarea>
          </li>
          % endif

          % if settings.REGISTRATION_EXTRA_FIELD.get('goals', '') != 'hidden':
          <li class="field ${settings.REGISTRATION_EXTRA_FIELD.get('goals', '')} text" id="field-goals">
            <label for="goals">${_("Please share with us your reasons for registering with {platform_name}").format(platform_name=platform_name)}</label>
            <textarea id="goals" name="goals" value="" ${'required aria-required="true"' if settings.REGISTRATION_EXTRA_FIELD.get('goals', '') == 'required' else ''}></textarea>
          </li>
          % endif
        </ol>
      </div>

      <div class="group group-form group-form-accountacknowledgements">
        <h2 class="sr">${_("Account Acknowledgements")}</h2>

        <ol class="list-input">
          <li class="field-group">

            % if has_extauth_info is UNDEFINED or ask_for_tos :
              % if settings.REGISTRATION_EXTRA_FIELDS.get('terms_of_service', True) != 'hidden':
                <div class="field required checkbox" id="field-tos">
                  <input id="tos-yes" type="checkbox" name="terms_of_service" value="true" required aria-required="true" />
                  <label for="tos-yes">${_('I agree to the {link_start}Terms of Service{link_end}').format(
                    link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=marketing_link('TOS')),
                    link_end='</a>')}</label>
                </div>
              % else:
                <div class="field required checkbox" id="field-tos">
                  <input id="tos-yes" type="hidden" name="terms_of_service" value="true" required aria-required="true" />
                </div>
              % endif
            % endif

            % if settings.REGISTRATION_EXTRA_FIELD.get('honor_code', '') != 'hidden':
            ## If we have an Honor Code link in our marketing map
            % if marketing_link('HONOR') and marketing_link('HONOR') != '#':
            <div class="field ${settings.REGISTRATION_EXTRA_FIELD.get('honor_code', '')} checkbox" id="field-honorcode">
              <input id="honorcode-yes" type="checkbox" name="honor_code" value="true" />
              <%
                ## TODO: provide a better way to override these links
                honor_code_path = marketing_link('HONOR')
              %>
              <label for="honorcode-yes">${_('I agree to the {link_start}Honor Code{link_end}').format(
                link_start='<a href="{url}" class="new-vp" tabindex="-1">'.format(url=honor_code_path),
                link_end='</a>')}</label>
            </div>
            % endif
            % endif
          </li>
        </ol>
      </div>

      <div class="form-actions">
        <button name="submit" type="submit" id="submit" class="action action-primary action-update register-button">${_('Register')} <span class="orn-plus">+</span> ${_('Create My Account')}</button>
      </div>
    </form>

    % if register_text_bottom_html:
      ${register_text_bottom_html}
    % else:
      %if register_text_bottom:
        <div class="register-text mx-0 mb-4">
          <h2>${register_text_bottom.get('title', '') | h}</h2>
          <p class="mb-0">${register_text_bottom.get('paragraph', '') | h}</p>
        </div>
      % endif
    % endif
  </section>

  ## <aside role="complementary">

  ##   <%
  ##     # allow for microsite overrides on the registration sidebars, otherwise default to pre-existing ones
  ##     sidebar_file = microsite.get_template_path('register-sidebar.html')
  ##   %>

  ##   <%include file="${sidebar_file}" />

  ## </aside>
</section>

<script type="text/javascript">
  var generateBirthdate = function() {
    var year = $('#year_of_birth').val();
    var month = $('#month_of_birth').val();
    var day = $('#day_of_birth').val();
    return day + "/" + month + "/" + year;
  };

  $(window).load(function(){
    $("#year_of_birth").change(function() {
      $("#date-of-birth").val(generateBirthdate());
    });
    $("#month_of_birth").change(function() {
      $("#date-of-birth").val(generateBirthdate());
    });
    $("#day_of_birth").change(function() {
      $("#date-of-birth").val(generateBirthdate());
    });
  })
  
</script>
