/* ======================
Navbar Component
====================== */
.navbar {
  border-top: 8px solid $main-color;

  .nav-item {
    padding: 0 20px;
  }
}

.navbar-logo {
  margin-top: -4px;

  img {
    max-height: 50px;
  }
}

.global-header .nav-links .secondary.nav-account .dropdown-user-menu {
  left: 0;
  right: auto;
}

/* ======================
Banner Component
====================== */
.home-banner {
  width: 100%;
  text-align: center;

  img {
    width: 100%;
    max-width: 1900px;
  }
}

/* ======================
About Component
====================== */
.about-component {
  position: relative;
  width: 100%;
  min-height: 150px;
  padding: 0;
  background-image: url('../images/about-project.jpg');
  background-size: cover;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(21, 170, 84, 0.9);
    z-index: 0;
  }
}

.about-component__content {
  position: relative;
  width: 100%;
  max-width: 1180px;
  min-width: 760px;
  margin: 0 auto;
  padding: 58px 0 64px;
  text-align: center;
  z-index: 1;
  box-sizing: border-box;
}

.about-component__paragraph {
  line-height: 1.5;

  > div {
    color: $white;
    font-family: "DroidArabicKufi","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  }
}

.about-component__logo {
  width: 155px;
  margin-top: -36px;
  margin-bottom: 12px;
}

.about-component__paragraph {
  font-size: 22px;
  margin-bottom: 42px;
}

a.about-component__btn {
  padding: 10px 42px;
  color: $white;
  font-size: 18px;
  border: 2px solid $white;
  border-radius: 50px;

  &:link,
  &:visited,
  &:visited {
    color: $white;
  }

  &:hover {
    color: $main-color;
    text-decoration: none;
    background: $white;
  }
}

/* ======================
Course Component
====================== */

.home-text .content-container {
  color: $main-color;

  h2 {
    font-size: 42px;
  }
}

/* ======================
Courses page
====================== */

.courses-intro {
  height: 30vh;

  &::before {
    background-color: transparent;
  }

  .banner-courses-box h2 {
    color: #FFF;
    background: rgba(81, 179, 92, .84);
    padding: 30px;
    width: 195px;
    float: right;
    border-radius: 3px;

  }
}

/* ========================================================
Course About
======================================================== */

// FontAwesome rtl arrows
.fa-chevron-right::before {
  content: '\f053';
}

.fa-chevron-left::before {
  content: '\f054';
}

.course-info {

  .content-container {
    background: rgba(255, 255, 255, 0.93);
    width: 80%;

    .media {
      max-width: 180px;
      flex: none;
      padding: 0 15px !important;
    }
  }

  .details {
    @include padding-right(2.35765%);

    h2 {
      color: $main-color;
      font-weight: bold !important;
    }
  }

  .btn.register {
    color: #FFF;
  }

  header.course-info__banner {
    padding: 156px 0 16px;
    background-image: url('../images/about-banner.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 300px;
    padding: 4rem 0 !important; 
  }
}

/* ======================
Features Component
====================== */
.features-component {
  position: relative;
  width: 100%;
  max-width: 1000%;
  height: auto;
  padding: 58px 10px;
  background: $features-component-bg;
}

.features-component__title {
  color: $main-color;
  font-size: 42px;
  line-height: 1.5;
}

.features-component__slider {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 42px;
}

.features-component--content {
  position: relative;
  max-width: 100%;
}

.features-component__list {
  display: inline-block;
  list-style: none;
  width: auto;
  margin: 0;
  padding: 0;
  text-align: center;
}

.features-component__element {
  @include text-align(left);
  @include float(left);
  position: relative;
  width: 266px;
  margin: 12px;
  padding: 140px 18px;
  background: $white;
  background-size: cover;
  transition: all 150ms ease;
  z-index: 0;
  overflow: hidden;

  &::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    transition: background .2s cubic-bezier(.4, 0, 1, 1);
    z-index: -1;
  }

  &:hover:before {
    background: rgba(21, 170, 84, 0.9);
  }

  &:first-child {
    @include margin-left(0);
  }

  &:last-child {
    @include margin-right(0);
  }
}

.features-component__element {
  &.free-courses {
    background-image: url('../images/free-courses.jpg');
  }

  &.video-lectures {
    background-image: url('../images/video-lectures.jpg');
  }
  &.interactive-exercises {
    background-image: url('../images/interactive-exercises.jpg');
  }

  &.discussion-forums {
    background-image: url('../images/discussion-forums.jpg');
  }

  &.completion-certificate {
    background-image: url('../images/completion-certificate.jpg');
  }
}

.features-component__element {
  i,
  p {
    display: block;
    text-align: center;
    color: $white;
  }

  i {
    font-size: 28px;
    margin-bottom: 12px;
  }

  p {
    font-size: 22px;
  }
}

.features__arrow {
  position: absolute;
  display: flex;
  width: 42px;
  height: calc(100% - 22px);
  top: 0;
  align-items: center;
  font-size: 52px;
  text-transform: uppercase;
  padding: 12px;
  background: $features-component-bg;
  transition: opacity 150ms ease, border 300ms ease-in-out, font-size 150ms ease;
  z-index: 2;
  opacity: 1;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    padding: 10px;
    font-size: 62px;
  }

  &.disabled {
    opacity: 0.33;
  }

  &.prev {
    left: 0;
  }

  &.next {
    right: 0;
  }
}

/* ======================
Team Component
====================== */
.team-component {
  background: $white;
  padding-bottom: 70px;
}

.team-component__container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 54px 10px;
}

.team-component__title {
  color: $main-color;
  font-size: 42px;
  line-height: 1.5;
}

.team-component__slider {
  @extend .features-component__slider;
}

.team-component--content {
  @extend .features-component--content;
}

.team-component__list {
  padding: 0;
  list-style: none;
  margin: 0 auto;
  padding: 0 12px;
}

.team-component__item {
  @include float(left);
  position: relative;
  margin: 12px;
  width: 440px;
  padding: 6px;
  font-size: 20px;
  background: $team-component__item-bg;
  overflow: hidden;
  z-index: 0;

  &::after {
    @include left(0);
    position: absolute;
    content: '';
    width: 62.5px;
    height: 100%;
    top: 0;
    background: $white;
    z-index: -1;
  }

  @inlcude rtl {
    &:first-child {
      @include margin-left(0);
    }
  }

  @include ltr {
    &:last-child {
      @include margin-left(0);
    }
  }
}

.team-component__item-image {
  @include float(left);
  width: 125px;
  height: 125px;
  background: $white;
  border: 14px solid $white;
  border-radius: 155px;
}

.team-component__item-content {
  @include padding-left(125px);
  margin: 12px;

  h3 {
    font-size: 20px;
    margin-bottom: 8px;
  }

  p {
    margin-top: 14px;
    font-size: 12px;
  }
}

.team__arrow {
  @extend .features__arrow;
  height: 100%;
  background: transparent;
}

/* ======================
Static Contents
====================== */
.container.tos,
.container.faq,
.container.about,
.container.privacy {

  p {
    text-align: justify;
  }

  ul {
    @include padding-left(40px);

    &.nonstyle {
      list-style: none;
    }
  }

  li {
    margin-bottom: 16px;
    line-height: 1.5;
  }

  h1,
  h2,
  b {
    color: $main-color;
    font-weight: bold;
    text-transform: none;
  }
}

.container.about,
.container.contact,
.container.faq,
.container.privacy,
.container.honor,
.container.tos {
  padding: 0;


  li {
    font-family: "DroidArabicKufi","Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  }
}

.static-banner-about,
.static-banner-contact,
.static-banner-faq,
.static-banner-honor,
.static-banner-privacy,
.static-banner-tos {
  height: auto;
  padding: 7% 0;
  background-size: cover !important;

  .container.static-banner__content {
    color: #FFF;
    padding: 0;
    max-width: 1180px;
    width: 100%;

    .static-banner__title {
      background: rgba(81, 179, 92, .84);
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
      border-radius: 3px;
    }
  }
}

.static-banner-about {
  background: url('../images/about_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {

      width: 200px;
      padding: 32px;
    }
  }
}

.static-banner-contact {
  background: url('../images/contact_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {
      width: 370px;
      padding: 32px;
    }
  }
}

.static-banner-faq {
  background: url('../images/faq_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {
      padding: 32px;
      width: 300px;
    }
  }
}

.static-banner-honor {
  background: url('../images/tos_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {
      padding: 32px;
      width: 420px;
    }
  }
}

.static-banner-privacy {
  background: url('../images/tos_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {
      padding: 32px;
      width: 330px;
    }
  }
}

.static-banner-tos {
  background: url('../images/tos_banner.jpg')  center top no-repeat;

  .container.static-banner__content {
    .static-banner__title {
      padding: 32px;
      width: 275px;
    }
  }
}

.contact-form {
  width: 500px;
  margin: 0 auto;

  label {
    font-style: normal;
  }

  input, 
  textarea {
    width: 100%;
    margin-bottom: 16px;
  }
}

/* ======================
Footer Component
====================== */
.footer {
  position: relative;
  height: auto;
  border-top: 18px solid $footer-component-border--top;
  background: $footer-component-bg;

  div {
    color: $white;
  }
}

.footer-links {
  width: 460px;
  display: block;
  margin: 0 auto;

  .nav-link {
   color: $white;
   @include float(left);
   padding: 8px 30px !important;

   &:hover,
   &:focus,
   &:active {
     color: $white;
     text-decoration: underline;
   }
 }
}

.footer-logo img {
  max-width: 140px;
  margin: 0 15px;
}

.footer-logo.openedx {
  text-align: none;

  img {
    max-width: 160px;
  }
}

.footer-extra {
  background: $footer-component-bg;

  .footer-links {
    max-width: 30%;
    margin: 0;
    padding: 0 86px;
  }

  .nav-link {
    width: 30px;
    height: 30px;
    padding: 2px 7px !important;
    font-size: 18px;
    background: $white;
    border-radius: 50%;
    color: $main-color;

    &:hover,
    &:focus,
    &:active {
      color: $main-color;
    }
  }

  .footer-copy {
    font-family: "DroidArabicKufi", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  }
}
