<div class="podium-footer">
  <div class="podium-footer__title">
    <h1 class="text"><%= i18n("Así vas en") %></h1>
    <img class="logo" src="<%= i18n("https://d1uwn6yupg8lfo.cloudfront.net/edxsites/sodexo/podium/tourvive.png") %>">
  </div>
  <div class="podium-footer__content">
    <li class="podium-list__item self">
      <div class="position"><%= model.getDisplayPosition() %></div>
      <img class="avatar" src="<%= model.getDisplayImage() %>">
      <div class="name"><%= model.getDisplayName() %></div>
      <div class="points"><%= model.getDisplayPoints(category) %></div>
    </li>
  </div>
</div>

