<%! 
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _ 
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
static_tos_html = theming.options('static', 'static_tos_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_tos_title', default= _('Terms of Service'))}</title></%block>

<div class="static-banner-tos">
	<div class="container static-banner__content">
		<h2 class="static-banner__title">${_("Terms of Service")}</h2>
	</div>
</div>

<section class="content-container p-5">
	<section class="container tos">
		<p>مرحبا بك في منصة التدريب الإلكترونية بجامعة الملك عبدالعزيز  KAUx(سيتم فيمَ بعد اختصار اسم منصة التدريب الإلكتروني بجامعة الملك عبدالعزيز  KAUxإلى "KAUx" فقط) ويرجى منك قراءة شروط الخدمة وسياسة الخصوصية وميثاق الشرف الخاص بـ KAUx قبل التسجيل في الموقع الإلكتروني للمنصة: kaux.kau.edu.sa  أو استخدام أي جزء من محتويات الموقع (ونعني بكلمة "الموقع" جميع المحتويات والصفحات التي تقع ضمن نطاق موقع KAUx الإلكتروني عبر الإنترنت)، بما في ذلك الوصول إلى أيًّ من المواد الخاصة بالمساقات، و منتديات النقاش، أو الخدمات الإلكترونية الأخرى. تعتبر شروط الخدمة وسياسة الخصوصية بمثابة اتفاقيات بينك وبين KAUx. كما أنك تقبل وتوافق من خلال استخدامك للموقع الإلكتروني على الالتزام قانونًا بهذه الاتفاقيات (شروط الخدمة وسياسة الخصوصية) سواءً أكنت مستخدمًا مسجلًا على الموقع أم لا.</p>

		<h2>الاستخدامات المحظورة</h2>
		<ul>
			<li>1. التعرض للرب جل وعلا أو للرسول صلى الله عليه وسلم أو للصحابة رضوان الله عليهم أو للقرآن الكريم أو السنة النبوية المطهرة أو لأي من تعاليم الدين أو مقدساته بالسب أو الانتقاص.</li>
			<li>2. التعرض للمذاهب الأخرى مما يثير الفتنة.</li>
			<li>3. التعرض لأحد الأعضاء بالسب أو الشتم والتعدي على الأعراض بالإساءة.</li>
			<li>4. المشاركات التي تخالف أنظمة وقوانين المملكة العربية السعودية.</li>
			<li>5. المشاركات المسيئة بمجملها للآداب العامة وعرض الصور المثيرة للغرائز بطريقة غير مباشرة.</li>
			<li>6. المشاركات التي تتضمن نشر الإشاعات المغرضة أو التحريض على الأنظمة الحاكمة أو الدعوة لتجمعات سياسية مما يؤثر على توجهات الموقع.</li>
			<li>7. المشاركات التي تنتهك الملكية الفكرية لطرف ثالث، بما في ذلك وعلى سبيل المثال لا الحصر، حقوق التأليف والنشر أو العلامات التجارية.</li>
			<li>8. الفيروسات بجميع أنواعها والبرمجيات الخبيثة وبرامج التجسس أو أي برامج أخرى مماثلة قد تلحق الضرر بعمل الموقع او أي ممتلكات أخرى.</li>
			<li>9. التعرض لحكام الدول العربية وكافة علماء الدين بسوء مما قد يولد الفتن ويثير المشاعر.</li>
		</ul>

		<p>الجهل بهذه القوانين لا يعفي من المسؤولية, ويعتبر كل عضو مسؤول عن مشاركاته وردوده.
		وأي انتهاك لبنود قائمة المحظورات المذكورة أعلاه تخوّل KUAx لإنهاء استخدامك ووصولك و/أو مشاركتك في الموقع دون إشعار مسبق.</p>

	</br></br>
	<center><h2>سياسة الخصوصية</h2></center>

	<h2>الخصوصية وبيان سريّة المعلومات</h2>
	<p>نقوم بجمع بعض المعلومات تلقائيًا من زوار الموقع, لذا فقد يطلب منك أن تقديم بعض المعلومات الشخصية حسبما يقتضي الأمر، كإسمك ، وعنوانك، وبريدك الإلكتروني، ورقم هاتفك، وأية معلومات أخرى تحدد من خلالها هويتك الخاصة, كما قد يطلب منك معلومات ديموغرافية ليست متفردة بك مثل الدولة التي تقيم بها، والعمر، والمستوى التعليمي، والجنس، وغيرها من أنواع المعلومات المشابهة، وأحيانًا تجمع مزيجًا من هذين النوعين من المعلومات. كما تقوم خوادمنا تلقائيًا بجمع معلومات حول الصفحات التي قام بزيارتها وعنوان IP أو اسم المجال للزوار وعنوان الإنترنت للموقع الذي جئت منه، وتاريخ ووقت وصولك، وعنوان IP الخاص بالكمبيوتر ومعلومات حول المتصفح، ونظام التشغيل والمضيف، وتاريخ ووقت الوصول إلى الموقع والصفحات التي قمت بزيارتها, وذلك لجعل زياراتك المتكررة للموقع أكثر فعالية وتخصصًا وللمحافظة على معلوماتك بأسلوب فعال, بالإضافة إلى عنوان بروتوكول الإنترنت للمساعدة في تشخيص مشاكلنا وإدارة موقعنا.</p>
	<p>علمًا بأنه يمكنك أيضا تقديم معلومات شخصية عند نشر محتوى أو تقديم مواد إلى الموقع, فذلك دائما خيارك، أو اختيار أي شخص يتصرف بالنيابة عنك، سواء بتقديم معلومات شخصية أو الامتناع، وفي حال تقديم أية معلومات شخصية عن الآخرين، فإنك تقر وتضمن أنك مخول للقيام بذلك.</p>

	<h2>نقدر مخاوفكم واهتمامكم بشأن خصوصية بياناتكم على شبكة الإنترنت</h2>
	<p>لقد تم إعداد هذه السياسة لمساعدتكم في تفهم طبيعة البيانات التي نقوم بتجميعها منكم عند زيارتكم لموقعنا على شبكة الانترنت وكيفية تعاملنا مع هذه البيانات الشخصية.</p>

	<h2>الروابط بالمواقع الأخرى على شبكة الإنترنت</h2>
	<p>قد يشتمل موقعنا على روابط بالمواقع الأخرى على شبكة الإنترنت, ولا نعتبر مسئولين عن المحتوى المتاح على أي موقع آخر وأساليب تجميع البيانات من قبل تلك المواقع, لذا ننصح الزائر الكريم بمراجعة سياسة الخصوصية الخاصة بتلك المواقع قبل الكشف عن أي معلومات شخصية تدل على صاحبها.</p>

	<h2>إفشاء المعلومات</h2>
	<p>سنحافظ في كافة الأوقات على خصوصية وسرية كافة البيانات الشخصية التي نتحصل عليها ولن نقوم ببيع, تأجير, المتاجرة, أو إفشاء أي من المعلومات, إلا إذا كان ذلك مطلوبًا بموجب القانون أو عندما نعتقد بحسن نية أن مثل هذا الإجراء سيكون مطلوبًا أو مرغوبًا فيه للتمشي مع القانون, أو للدفاع عن أو حماية حقوق الملكية الخاصة بهذا الموقع أو الجهات المستفيدة منه, كما يحق لنا افشاء هذه المعلومات للشركات والأفراد الذين يعملون معنا، بهدف تنفيذ مهامهم، بما في ذلك الشركات والأفراد المخولين بأداء المهام نيابة عنا, على سبيل المثال استضافة خادم الموقع، وتحليل البيانات، وتوفير الدعم التسويقي، والتعاون بالتعليم والبحث، وتقديم الخدمات, وستتمكن هذه الشركات والأفراد من الدخول إلى معلوماتك الشخصية كلما لزم الأمر ذلك من أجل أداء مهامهم.</p>

	<h2>الاستخدام لغرض الأبحاث العلمية</h2>
	<p>من أهدافKAUx  ايضا تطوير التعليم والتعلم من خلال القيام بأبحاث علمية، لذا من الممكن استخدام سجلات مشاركتكم في المساقات لأغراض بحثية، ومن الممكن ايضا أن تظهر بعض التغيرات في محتوى المساقات. ولن يتم الكشف عن هويتك الشخصية علنًا في نتائج البحوث بدون أخذ موافقة صريحة منكم.</p>

	<h2>البيانات اللازمة لتنفيذ المعاملات المطلوبة من قبلك</h2>
	<p>عندما نحتاج إلى أية بيانات خاصة بك, فإننا سنطلب منك تقديمها بمحض أرادتك حيث ستساعدنا هذه المعلومات في الاتصال بك والرد على كافة استفساراتك وملاحظاتك وتنفيذ طلباتك حيثما كان ذلك ممكنًا, ولن يتم اطلاقًا بيع البيانات المقدمة من قبلك إلى أي طرف ثالث بغرض تسويقها لمصلحته الخاصة دون الحصول على موافقتك المسبقة والمكتوبة ما لم يتم ذلك على أساس أنها ضمن بيانات جماعية تستخدم للأغراض الإحصائية والأبحاث دون اشتمالها على أية بيانات من الممكن استخدامها للتعريف بك.</p>

	<h2>التعديلات على سياسة سرية وخصوصية المعلومات</h2>
	<p>من أجل الحفاظ على هذا الموقع وتوفير وتطوير الخدمات في المستقبل فإنه يمكننا تغيير أحكام هذه السياسة من حين لآخر, وفي حالة إجراء مثل هذه التغييرات، سيتم عرضها في هذه الصفحة لكي يكون المُستخدِم على علم بها. ويكون استمرار المُستخدِم في استعمال الموقع الإلكتروني على أساس المعلومات الواردة في سياسة الخصوصية هذه موافقة لما جرى تعديله.</p>

	<br><br>
	<center><h2>ميثاق الشرف</h2></center>

	<p>يتوجب على جميع الأعضاء المشاركين بالمساقات مراعاة الله أولاً والالتزام التام بقواعد السلوك التالية:</p>
	<ul class="nonstyle">
		<li>1. التسجيل بحساب واحد فقط.</li>
		<li>2. جميع الاجابات والمشاركات في الواجبات والامتحانات والمشروعات والمهام الأخرى الخاصة بالمساقات، هي من جهدك الخاص (باستثناء المهام التي تسمح بالتعاون مع متدربين آخرين).</li>
		<li>3. عدم مشاركة إجاباتك في الواجبات والاختبارات والمشاريع، وجميع المهام الأخرى المتعلقة بالمساقات مع أي شخص آخر (إلا إذا يوجد تعليمات واضحة تسمح لك بمشاركة إجاباتك).</li>
		<li>4. عدم المشاركة في أي أنشطة أخرى غير شريفة قد تسمح لك بالتغير والتلاعب في نتائجك أو الضرر بنتائج الآخرين.</li>
	</ul>
</section>
</section>
