// Extra rules needed for a Studio theme
//
// The _extras.scss file is imported after all other rules by
// the Studio Sass. For your own theme, you can override this file
// to add any custom rules that you need. You can also import
// partials directly into this file so that you can break your
// rules into modular pieces.

.wrapper-header nav>ol>.nav-item.nav-not-signedin-signup,
.view-signin .content header .action.action-signin,
.wrapper-footer footer.primary #lms-link,
.view-dashboard .wrapper-creationrights .ui-toggle-control.show-creationrights,
.view-howitworks.not-signedin .content-cta .list-actions li,
.content #register_form,
#login_form .action-forgotpassword {
  display: none;
}

.validation-panel-section {
  background-color: #C7c7c7;
  font-weight: 700;
  width: 100%;
}

.validation-panel-section .page-banner .validation-messages .alert {
  align-items: center;
  background-color: inherit;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3rem 0;
}

.validation-panel-section .page-banner .validation-messages .alert .btn {
  background: #000000;
  border-color: #000000;
  border-radius: 5px;
  color: #fcfcfc;
  font-size: 16px;
  font-weight: inherit;
  margin-left: auto;
  padding: 0.625rem 1.25rem;
}

   
