<%! 
	from django.core.urlresolvers import reverse
	from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
  static_tos_html = theming.options('static', 'static_tos_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_tos_title', default= _('Terms of Service'))}</title></%block>

<section class="content-container p-5 tos">
  <div class="row static_page container p-4">
    <h2>Generelle servicevilkår</h2>
  <p>Velkommen til SEGES e-læring. Læs venligst følgende paragraffer omkring Terms of service, Privatlivspolitik og Honor codes inden du tilmelder dig SEGES e-læring, eller benytter dig af læringssiden. (Dette inkluderer hvilket som helst kursusmateriale, chatfunktioner eller andre funktioner på sitet). Disse punkter formgiver en ”aftale” mellem dig og SEGES, og ved brug af læringssiden accepterer du en juridisk binding af disse aftaler. Dette er også gældende selvom du ikke er en registreret bruger.</p>
  <p>SEGES forbeholder sig retten til at ændre disse punkter på et hvilket som helst tidspunkt, og uden at underrette om dette på forhånd. Enhver ændring af disse vil omgående træde i kraft, når de bliver publiceret på denne side med en opdateret ikrafttrædelsesdato. Ved brug af læringssiden efter tiltag i disse punkter, accepterer du de modificerede vilkår. Husk at vende tilbage til denne side regelmæssigt og hold dig opdateret på den nuværende version af Servicevilkårene.</p>

  <h2>Regler for online adfærd</h2>
  <p>Følgende er generelle regler for opførsel og adfærd gennem kommunikation og interaktion på SEGES e-læringsside. Ved brug af siden, accepterer du, at du er ansvarlig for din egen brug af læringssiden, samt at al aktivitet forekommen gennem din brugerprofil. Brud på følgende regler kan medføre permanent fjernelse af brugerkonto uden refundering af kontingent.</p>
  <p>De følgende punkter beskriver strengt forbudt adfærd, ting eller opførsel på SEGES læringsside:</p>
  <ul>
    <li>Der må ikke chikaneres, nedgøres eller på anden vis udvises truende adfærd over for andre.</li>
    <li>Der må ikke bruges seksuelt, skadeligt, pressende, ærekrænkende, hadefuldt, racemæssigt eller etnisk stødende sprog. Dette omfatter al kommunikation på tværs af læringssiden.</li>
    <li>Der må ikke diskuteres ulovlige emner, med intentioner om at udføre dem.</li>
    <li>Indhold der krænker en andens immaterielle rettigheder (herunder, men ikke begrænset til ophavsrettigheder eller trademarks) er forbudt på siden.</li>
    <li>Du må ikke udgive dig for at være nogen form for SEGES medarbejder.</li>
    <li>Arrangering eller planlægning af intern udveksling eller overførsel af enhver piratkopiering eller ulovlig software (herunder, men ikke begrænset til hjælpemidler af kursusforløb) er ikke tilladt.</li>
    <li>Modstride eller ignorere instruktioner fra autoriseret personale er ikke tilladt.</li>
    <li>Benytte falske eller ukorrekte oplysninger ved registrering eller oprettelse af brugerkonti er ikke tilladt.</li>
    <li>Du må ikke udnytte fejl eller bugs, eller ligeledes kommunikere eksistensen af sådanne til andre brugere af e-læringsprogrammet. (Fejl der yder brugeren utilsigtede fordele som led i et uddannelsesforløb). Du vil straks indberette informationer om sådanne fejl til SEGES medarbejdere.</li>
    <li>Du må ikke promovere, eller publicere kommercielt materiale, der henviser til eksterne programmer, SEGES ikke kan stå inde for.</li>
    <li>Du må ikke publicere eller linke til sider med skadeligt indhold (virus etc.).</li>
    <li>Du må ikke bevidst publicerer eller linke til indhold, der indbefatter falske informationer, eller indhold der er skabt for at mislede.</li>
  </ul>
  <p>Disse regler er grundlæggende og ikke beregnet til at være altomfattende. Reglerne kan ændres.</p>

  <h2>Regler og politikker, der skal anvendes om brugerkonti</h2>
  <p>For at kunne deltage fuldt ud i læringssidens materiale skal du angive navn, e-mail samt en adgangskode for at kunne oprette din brugerkonto. Følgende accepterer du regler om ikke at videregive eller dele adgang til din brugerkonto, samt aldrig dele dine bruger oplysninger med andre. Ved yderligere oplysninger i sammenhæng med brugeropsætning, accepterer du herved også at disse er korrekte, samt at vedligeholde og opdatere disse så de altid er aktuelle.</p>
  <br>

  <div id="honor-code">
    <h1>Code of honor</h1>
    <p>SEGES E-læring afhænger af din motivation til at modtage samt at lære det givne materiale på ærlig vis. For at deltage skal du acceptere de nedenstående punkter, samt eventuelle yderligere punkter for hvert enkelt kursusforløb.</p>
    <p>Ved at deltage i et SEGES e-lærings forløb forpligter jeg mig til at</p>
    <ul>
      <li>Færdiggøre alle uddannelsesforløb ved egen hånd, og ikke bruge andres arbejde.</li>
      <li>Kun at have én brugerprofil, samt aldrig lade andre anvende mit brugernavn eller password.</li>
      <li>Aldrig at benytte metoder eller anden uærlig metode til at forbedre mine slutresultater, eller forringe andres slutresultater.</li>
      <li>Ikke at publicere svar der bliver brugt til at bedømme andre studerende.</li>
    </ul>
    <p>Disse er gældende, med mindre at den ansvarlige ved et unikt kursus anmoder om:</p>
    <ul>
      <li>At samarbejde med andre, med udgangspunkt i videoer eller opgaver.</li>
      <li>Fremvise idéer eller skrevne opgaver til andre deltagere af samme uddannelsesforløb med henblik på respons.</li>
    </ul>
  </div>
  </div>
</section>
