## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<% 
  footer = theming('footer')
  footer_override = footer.get('override_template')
%>

%if footer_override:
  ${footer_override}
%else:
  %for object in footer.get('objects'):

    %if object['type'] == 'html_block':
      ${object['vars'].render()}

      ## cuando tiene variables definidas como extra_footer?


    %elif object['type'] == 'text':
      ${object['vars'].render().p_tag('b'/'i')}

      ## deberia tener mas atributos que puedan definir los estilos del texto?
      ## vars:{'content':'text', 'style':'italic/bold'}
      ## no permitir links
        %if object['vars'].get('style') == 'italic':
          ${object['vars'].get('content').render().p_tag('i')}

          <p><i>${attributes['content']}</i></p>
        %elif object['vars'].get('style') == 'bold':
          ${object['vars'].get('content').render().p_tag('b')}

          <p><b>${object['vars'].get('content')}</b></p>
        %else:
          ${object['vars'].get('content').render().p_tag()}

          <p>${object['vars'].get('content')}</p>
        %endif

    %elif object['type'] == 'image_tag':
      ${object['vars'].render().image_tag()}

      <a href="${object['vars'].get('href')}" target="${object['vars'].get('target')}">
        <img src="${object['vars'].get('src')}" 
        alt="${object['vars'].get('alt')}" 
        width="${object['vars'].get('width')}" 
        height="${object['vars'].get('height')}">
      </a>

    ## como saber de que tipo es la lista
    %elif object['type'] == 'list_links':
      <ul>
        %for item in object['vars']:
          <li>
            ${item.render().a_tag()} ##tiene text, target, href

            <a href="${item['href']}" target="${item['target']}">${item['text']}</a>
          </li>
        %endfor
      </ul>

    %elif object['type'] == 'list_images':
      <ul>
        %for item in object['vars']:
          <li>
            ${item.render().img_link()} ##tiene target, href, src, alt. class icon??

            <a href="${item['href']}" target="${item['target']}"><img src="${item['scr']}" alt="${item['alt']}"></a>
          </li>
          
        %endfor
      </ul>
    
    %elif object['type'] == 'list_text':
      <ul>
        %for item in object['vars']:
          <li>
            ${item.render().p_tag()} ##tiene text 

            <p>${item['text']}</p>
          </li>
        %endfor
      </ul>
      ## falta lista de social icons
      ## language selector

    %elif object['type'] == '3_column_content':
      %for column in object['vars'].get('column-layout'):
        <div class="col-${column}"></div>
      %endfor

  %endfor
%endif
