## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>

<%
  footer_id = theming.options('footer', 'id', default='')
  footer_class = theming.options('footer', 'class', default='')
  footer_particle = theming.get_segment('footer')
%>

<footer id="${footer_id}" class="${footer_class}">

  ${footer_particle.render() | n}

</footer>
