.view-in-course .home,
.container .info-wrapper .updates > h4,
div.info-wrapper section.updates div article h5.date {
  display: none
}

div.course-wrapper .course-content .sequence .path,
div.course-wrapper .courseware-results-wrapper .sequence .path {
  display: none;
}

body.view-in-course .navbar.course-tabs {
  margin-bottom: 20px;
}

div.course-wrapper section.course-content {
  padding-top: 0;
}

.wrapper-preview-menu .preview-menu {
  margin-top: 12px;
}

.navbar.course-tabs .navbar-nav {
  position: relative;
  margin-left: 0;
  padding: 52px 0 42px;

  li {
    border-right: 2px solid $midnightBlue;
    margin-right: 0;

    &:first-child {
      a,
      a.active {
        margin-left: 0;
      }
    }

    &:last-child {
      border-right: 0;

      a,
      a.active {
        margin-right: 0;
      }
    }

    a,
    a.active {
      margin: 0 10px;
      padding: 4px;
      color: $midnightBlue;
      font-size: 14px;
      font-weight: normal;
      text-shadow: none;
      text-transform: uppercase;
      background: none;
      border-bottom: 2px solid transparent;
      box-shadow: none;
      border-radius: 0;
    }

    a:hover,
    a:focus,
    a.active {
      color: $midnightBlue;
      background: transparent;
      border-bottom: 2px solid $midnightBlue;
    }
  }
}

/*
  acordion
*/
.accordion {
  border-radius: 4px;
  overflow: hidden;
}

.course-outline .block-tree .section ol.outline-item .subsection,
.course-outline .block-tree .section,
.course-outline .block-tree .section ol.outline-item .subsection .vertical a.outline-item,
.course-outline .block-tree li.section ol.outline-item .subsection:hover {
  border: none;
}

.course-outline .block-tree .section ol.outline-item .subsection {
  margin-left: 60px;
}

.course-outline .block-tree .section {
  padding-left: 10px;
}

div.course-wrapper,
.course-index {
  background: $white;
  border: none;
  box-shadow: 0;
}

.course-index {
  border: 0;
}

.container>div,
div.info-wrapper section.updates>ol>li,
div.info-wrapper section.updates>ol article,
div.info-wrapper section.updates section>li,
div.info-wrapper section.updates section article {
  padding: 0;
  border: 0;
  box-shadow: none;
}

.course-index div.accordion {

  .chapter {
    width: 100% !important;
    padding: 11px 14px;
    padding: 0;
    background: $blue;
    box-shadow: none;
    box-sizing: border-box;

    &.is-open {
      background: $blue-dark;
    }

    &:first-child {
      border-radius: 3px 0 0;
    }

    @mixin pilars-bg($names, $colors, $images) {
      @for $i from 1 through length($names) {

        $pilar-name: nth($names, $i);
        $pilar-color: nth($colors, $i);
        $pilar-image: nth($images, $i);

        &.pilar-#{$pilar-name} {
          .button-chapter .group-heading {
            padding: 15px 15px 15px 60px;
            color: $white;

            &.active {
              color: $white;

            }

            .icon {
              display: none;
            }

            color: $white;
            background-color: $pilar-color;
            background-image: url(../images/#{$pilar-image}.svg);
            background-size: 28px;
            background-repeat: no-repeat;
            background-position: 14px;
          }

          .chapter-content-container {
            &.is-open {
              border-bottom: 0;
            }

            .chapter-menu {
              padding: 0;
            }

            .menu-item {
              margin: 0;

              &:last-of-type {
                padding-bottom: 0;
              }

              &.active {
                a {
                  background: darken($pilar-color, 6);
                  // border-radius: 0;
                }
              }

              a {
                padding: 10px 15px 10px 60px;
                background: darken($pilar-color, 4);
                border-bottom: 1px solid darken($pilar-color, 2);
                border-radius: 0;

                p,
                span {
                  color: $white;
                }

                &:hover,
                &:focus {
                  background: darken($pilar-color, 6);
                }
              }
            }
          }
        }
      }
    }

    @include pilars-bg($pilar-names, $pilar-colors, $pilar-images);
  }
}

.xmodule_display.xmodule_SequenceModule .sequence-nav {
  align-items: center;

  .sequence-nav-button {
    margin-top: 0;
    background: transparent;
    border-radius: 0;
    border: none;

    &:focus,
    &:active {
      box-shadow: none;
    }
  }

  nav.sequence-list-wrapper {
    background: transparent;
    border: none;
    box-shadow: none;

    ol {
      padding: 0;
      left: 0 !important;
      right: 0 !important;
    }

    .left-shadow,
    .right-shadow {
      display: none;
    }

    li {
      border: 0;

      &:first-child button {
        border-radius: 5px 0 0 5px;
      }

      &:only-child button {
        border-radius: 5px !important;
      }

      &:last-child {
        border-right: none;
        button {
          border-radius: 0 5px 5px 0;
        }
      }

      button {
        background-color: $midnightBlue;
        font-size: 0;
        background-size: 16px;
        background-position: center;
        transition: background-color .2s;
        border-right: 1px solid $white;

        &:hover,
        &:focus,
        &.active,
        &.active:hover,
        &.active:focus,
        &.seq_other.active,
        &.seq_vertical.active,
        &.seq_problem.active,
        &.seq_video.active {
          background-color: $red;
          background-size: 16px;
          background-position: center;
          border-bottom: 0;

          p {
            display: none;
          }
        }

        p {
          display: none;
        }
      }

      /*
      ===================
      This snippet with the custom icons are added
      **warning but is useless in the next version using icon font
      ======================
      */
      button {
        &.seq_other {
          &.inactive,
          &.visited,
          &.active {
            background-image: url(../images/section.png);
          }
        }

        &.seq_vertical {
          &.inactive,
          &.visited,
          &.active,
          &.progress-none,
          &.progress-some,
          &.progress-in_progress,
          &.progress-done {
            background-image: url(../images/section.png);
          }
        }

        &.seq_problem {
          &.inactive,
          &.visited,
          &.active,
          &.progress-none,
          &.progress-some,
          &.progress-in_progress {
            background-image: url(../images/upload.png);
          }
          &.progress-done {
            background-image: url(../images/upload_sent.png);
          }
        }

        &.seq_video {
          &.inactive,
          &.visited,
          &.active {
            background-image: url(../images/section.png);
          }
        }
      }
    }
  }
}

%sequence-mini-icons {
  &.seq_other {
    background-image: url(../images/text.jpg);
  }
}

.xmodule_display.xmodule_SequenceModule nav.sequence-nav .sequence-list-wrapper.more-four a {
  @extend %sequence-mini-icons;
}

@media ( max-width: 768px ) {
  .xmodule_display.xmodule_SequenceModule nav.sequence-nav .sequence-list-wrapper.more-two a {
    &.seq_other {
      background-image: url(../images/text.jpg);
    }
  }
}

input[type="button"].check-all{
  padding: 15px;
  font-size: 15px;
}

.xmodule_display.xmodule_CapaModule div.problem div.action .save {
  display: none;
}

.xmodule_display.xmodule_SequenceModule nav.sequence-nav ol {
  li {
    display: inline-block;
    min-width: 38px;
  }
}

.xmodule_display.xmodule_SequenceModule nav.sequence-nav {
  .sequence-list-wrapper {
    height: auto;
  }

  /* list of elements */
  ol {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    li {
      min-width: 30px;
      flex-grow: 1;

      /* tooltip */
      a p {
        min-width: 52px;
        box-sizing: border-box;
        text-align: center;

        &::after {
          left: 22px;
        }
      }
    }
  }

  /* control burttons */
  ul li {
    top: 50%;
    margin-top: -23px;
  }
}

.xmodule_display.xmodule_VideoModule div.video {
  margin: 0;
  padding: 0;
}

.course-navigation-button {
  position: relative;
  margin-top: 15px;
  padding: 8px 15px;
  line-height: 1.4 !important;
  color: $white !important;
  // text-shadow: 0 -1px 0 $grey-shadow;
  background-color: $blue;
  border-radius: 3px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $blue-dark;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 12px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
  }

  &.left {
    float: left;
    padding-left: 40px;

    &:before {
      border-right: 10px solid lighten($blue, 60%);
      left: 10px;
    }
  }

  &.right {
    float: right;
    padding-right: 40px;

    &:after {
      border-left: 10px solid lighten($blue, 60%);
      right: 10px;
    }
  }
}

.xmodule_display.xmodule_SequenceModule nav.sequence-bottom {
  .sequence-nav-button {
    width: auto;
    height: auto;
    padding: 6px 15px 8px;
    background-image: none;
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    box-shadow: none;

    &:hover,
    &:focus {
      opacity: 1;
      background: $blue-dark;
    }

    &.disabled {
      opacity: 0;
      background: $blue-dark;
    }
  }
  .button-left {
  }

  .button-next {
    float: right;
  }
}

// temporal fix for ficus
// scss-lint:disable SelectorDepth, NestingDepth, MergeableSelector
.xmodule_display.xmodule_SequenceModule .sequence-nav {
  height: auto;
  align-items: center;

  .sequence-list-wrapper {
    height: auto;

    /* list of elements */
    ol {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      li {
        min-width: 52px;
        flex-grow: 1;
        border-left-style: solid;
        border-right-style: solid;

        /* tooltip */
        a p {
          min-width: 52px;
          box-sizing: border-box;
          text-align: center;

          &::after {
            left: 22px;
          }
        }
      }
    }
  }

  .sequence-nav-button {
    top: 0;
    margin-top: 0;
  }
}

// Fix image in welcome message
.page-content .welcome-message img,
.page-content .welcome-message iframe,
.section-handouts img,
.section-handouts iframe {
  max-width: 100%;
}

.dashboard .search-responsive {
  padding: 0 15px;

  .search-bar {

    button span {
      color: #FFF;
    }

    .cancel-button {
      display: none;
    }

  } 
}

.content-wrapper .btn.action-resume-course span,
.course-outline span{
 color: $white;
}

.window-wrap .container>div {
 display: table;
}