.discussion-module .new-post-btn,
.discussion-user-threads .new-post-btn,
body.discussion .course-tabs .right .new-post-btn {
  margin: -6px 0 0;
}


.container {
  .discussion-body,
  .discussion-module,
  .discussion-user-threads {
    background: $white !important;

    .discussion-article {
      padding-top: 0;
      background: $white;
    }
  }

  .discussion-body .discussion-column {
    padding-top: 130px;
    background-image: $forum-header-img;
    background-repeat: no-repeat;
    background-size: 100% 130px;
    background-position: top;
  }
}

.forum-nav {
  background-color: $blue;
  border: 0;
  border-radius: 8px 8px 0 8px;
}

.discussion .page-header {
  background-color: $midnightBlue;
  border-radius: 8px 8px 0 0;

  .btn-link {
    color: #FFF;
  }

  .breadcrumbs {
    .nav-item,
    .all-topics .fa {
      color: #FFF;
    }
  }
}

.forum-nav-browse,
.forum-nav-search {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  // padding: ($baseline/4);

  &:hover,
  &:focus,
  &.is-active {
    // background-color: $gray-l5;
    background-color: transparent;
  }
}

.forum-nav-browse {
  width: 60%;

  .icon,
  .forum-nav-browse-current,
  .forum-nav-browse-drop-arrow {
    color: $white;
  }

  .icon {
    vertical-align: middle;
    margin-right: 15px;
    font-size: 24px;
  }

  .forum-nav-browse-current {
    font-size: 14px;
  }
}

.forum-nav-search {
  width: 32%;

  .forum-nav-search-input {
    &::-webkit-input-placeholder {
      font-size: 0;
    }

    &:-moz-placeholder {
      font-size: 0;
    }

    &::-moz-placeholder {
      font-size: 0;
    }

    &:-ms-input-placeholder {
      font-size: 0;
    }
  }

  .icon {
    margin-top: -8px;
    color: $midnightBlue;
    font-size: 15px;
  }
}

.forum-nav-refine-bar {
  // color: $white;
  background-color: $red;
  border: 0;
  // background-color:  darken($blue, 5%);

  select {
    position: relative;
    color: $white;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 2px 2px 10px;
    border: 0;
    background: transparent url("../images/arrow-down.jpg") no-repeat right center;

    option {
      color: $midnightBlue;
    }
  }
}
// darken($color, $amount)

.forum-nav-thread-wrapper-0 .fa-comments,
.forum-nav-thread-wrapper-0 .fa-question {
  color: $white;
}

.forum-nav-thread {
  // background-color: $grey-light;
  background-color: $blue;
  // border-bottom: none;

  &.is-unread {
    background-color: $white;

    .forum-nav-thread-title {
      color: $midnightBlue;
    }

    .fa-comments,
    .fa-question {
      color: $midnightBlue;
    }

    .forum-nav-thread-comments-count {
      background-color: $midnightBlue;
      color: $white;

      &:after {
        border-color: transparent transparent transparent $midnightBlue;
      }
    }
  }
}

.forum-nav-thread-link {
  color: $white;

  &:hover,
  &:focus,
  &.is-active {
    background-color: $grey-light;

    i,
    .forum-nav-thread-title {
      color: $blue;
    }

    .forum-nav-thread-comments-count {
      background-color: $midnightBlue;
      color: $white;

      &:after {
        border-color: transparent transparent transparent $midnightBlue;
      }
    }
  }
}

.forum-nav-thread-list .forum-nav-thread-title {
  color: $white;
}

.forum-nav-thread-comments-count {
  padding: 0 12px;
  color: $blue;
  background-color: $white;
  border-radius: 5px;

  // Speech bubble tail
  &:after {
    content: '';
    display: block;
    position: absolute;
    right: auto;
    left: 8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 5px 5px;
    border-color: transparent transparent transparent $white;
    // border-color: $white;
  }

  &.is-unread {
    background-color: $white;
    background-color: $red;

    &:after {
      border-right-color: $white;
    }
  }
}

body.discussion .forum-thread-main-wrapper,
.discussion-thread.expanded .forum-thread-main-wrapper {
  box-shadow: none;
}

.container .discussion-body {
  .discussion-column {
    border: 0;
  }

  .discussion-article {
    h1 {
      color: $midnightBlue;
      font-size: 18px;
      font-weight: 700;
      letter-spacing: 0;
      line-height: 1.2;
    }

    .posted-details {
      color: $blue;
      font-size: 14px;
      font-style: italic;

      .username {
        font-weight: 700;
      }

      .timeago,
      .top-post-status {
        color: inherit;
      }
    }

    .post-context {
      font-size: 12px;
      color: #888;
    }
  }

  .group-visibility-label {
    display: none;
  }

  %button-send {
    color: $white;
    text-transform: uppercase;
    text-shadow: none !important;
    background: $green;
    border: none !important;
    border-radius: 5px;
    box-shadow: none !important;
    outline: none;

    &:hover:not(:disabled),
    &:focus:not(:disabled),
    &:active:not(:disabled) {
      background: lighten($green, 2%);
      border: none !important;
      outline: none;
      box-shadow: none !important;
    }
  }

  .discussion-submit-post,
  // .discussion-submit-comment,
  .discussion-submit-comment .control-button {
    @extend %button-send;
  }
}

body.discussion,
.discussion-module,
.discussion-user-threads {
  .comments .comment-form .discussion-submit-comment {
    @extend %button-send;
  }

  .new-post-icon {
    margin-top: 4px;
    margin-right: 8px;
  }
}

.discussion.container,
.discussion-module,
.discussion-user-threads {
  .action-button .action-icon {
    color: $white;
    background: $midnightBlue;
  }
}

.discussion-reply-new h4 {
  background-color: #0C004E;
  padding: 10px;
  color: #FFF;
  border-radius: 5px;
}

.forum-new-post-form,
.edit-post-form {
  background: transparent;

  .post-type-label {
    background: $white;
    box-shadow: none;
  }

  .post-type-input:checked+.post-type-label {
    color: $white;
    background: $aqua;
    border: 0;
    box-shadow: none;

    &:hover,
    &:focus {
      outline: none;
    }
  }

  .submit {
    @extend %button-send;
  }
}

body.discussion {
  .discussion-post,
  .discussion-article {
    padding: 0 0 40px;
  }

  .discussion-post .post-body,
  .discussion-response .response-body {
    padding: 30px 30px 20px 30px;
  }

  .post-header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 16px;
    color: $white;
    background: lighten($red, 2%);
  }

  .discussion-post .post-header-content .post-title,
  .discussion-article .post-header-content .post-title,
  .discussion-article .posted-details,
  .discussion-article .posted-details a {
    color: $white !important;
  }

  .discussion-post .post-header-content .post-title,
  .discussion-article .post-header-content .post-title {
    font-size: 38px;
    line-height: 1;
  }

  .discussion.container .action-button .action-label {
    padding: 1px 8px;
    background: #FFF;
    border-radius: 4px 0 0 4px;
  }
}

.forum-search .search-input {
  padding: 7px;
  margin: 2px;
}

.forum-actions button,
.forum-search .search-button {
  background: $white;

  &:hover {
    background: $blue;
  }
}
