/* General style for game */
.home-page {
  width: 100%;
  float: none !important;
  width: 100% !important;
  max-width: 100%;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding: 0;

  * {
    line-height: 1 !important;
  }
}
.home-page__content {
  float: left;
  width: 66.6%;
}
.home-page__content-map {
  position: relative;
  width: 100%;
  height: 686px;
  background: #F1F1F1;
  background-color: #4EADE3;
  background-image: radial-gradient(#4EADE3, #3291C7, #005F92);
}
.home-page__content-map--corner {
  float: left;
  width: 150px;
  height: 150px;
  background: $white;
  border-radius: 0 0 100% 0;
}
.home-page__content-map--viewer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;
  .viewer {
    background-color: #4EADE3;
    background-image: radial-gradient(#4EADE3, #3291C7, #005F92);

    .well,
    .thumbnail {
      background-color: #4EADE3;
      background-image: radial-gradient(#4EADE3, #3291C7, #005F92);
    }

    .thumbnail {
      left: 6px;
      bottom: 90px;
      border: 4px solid $white;
    }
  }
}
.home-page__content-menu {
  position: relative;
  height: 154px;
  margin-top: -80px;
  overflow: hidden;
}
@mixin contentMenu__element( $names, $colors ) {
  @for $i from 1 through length($names) {

    $pilar-name: nth($names, $i);
    $pilar-color: nth($colors, $i);

    &.pilar-#{$pilar-name} {

      .home-page__content-menu--element {
        background: $pilar-color;
        border: 6px solid darken( $pilar-color, 2 );
        .home-page__content-menu--element_number {
          color: $pilar-color;
        }
        &.active {
          .home-page__content-menu--element_tooltip-content {
            background: $pilar-color;
            &:after {
              color: $pilar-color;
            }
          }
          .home-page__content-menu--element_container {
            border: 4px solid $pilar-color;
          }
          .home-page__content-menu--element_number {
            color: $white !important;
            top: 36px;
            left: 60px;
          }
          .home-page__content-menu--element_flag .white {
            fill: $pilar-color !important;
          }
        }
        &.locked {
          .home-page__content-menu--element_number{
            display: none;
          }
        }
      }
      .home-page__content-menu--element:nth-child(odd) {
        background: lighten( $pilar-color, 4 );
        border: 6px solid $pilar-color;
        .home-page__content-menu--element_number {
          color: lighten( $pilar-color, 4 );
        }
        &.active {
          .home-page__content-menu--element_tooltip-content {
            background: lighten( $pilar-color, 4 );
            &:after {
              color: lighten( $pilar-color, 4 );
            }
          }
          .home-page__content-menu--element_container {
            border: 4px solid lighten( $pilar-color, 4 );
          }
        }
      }
    }
  }
}

.home-page__content-menu--list {
  float: left;
  width: auto;
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  @include contentMenu__element( $pilar-names, $pilar-colors );
}

.home-page__content-menu--element {
  position: relative;
  float: left;
  width: 118px;
  height: 74px;
  margin-top: 80px;
  margin-bottom: 0 !important;
  padding: 10px;
  &.active {
    width: 144px;
    height: 94px;
    margin-top: 60px;
    padding: 6px;
    background: $white !important;
    border: none !important;
    .home-page__content-menu--element_container {
      padding: 12px;
    }
    .home-page__content-menu--element_number {
      position: absolute;
      left: 38px;
      top: 22px;
      font-size: 21px;
      font-weight: bold;
      width: 32px;
      text-align: center;
    }
    .home-page__content-menu--element_flag {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &.locked {
    background: #828181 !important;
    border: 4px solid lighten( #828181, 4 ) !important;
  }
}
.home-page__content-menu--element_container {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}
.home-page__content-menu--element_number {
  position: absolute;
  left: 38px;
  top: 22px;
  font-size: 21px;
  font-weight: bold;
  width: 32px;
  text-align: center;
}
.home-page__content-menu--element_flag {
  max-width: 100%;
  max-height: 100%;
}
.home-page__content-menu--element_tooltip {
  position: absolute;
  width: 114px;
  top: -60px;
  left: 50%;
  margin-left: -57px;
  padding: 4px;
  background: $white;
  border-radius: 3px;
  box-shadow: 0 0 10px 1px rgba(255, 255, 255, 0.4);
  transition: opacity 0.1s linear 0s;
  pointer-events: none;
  z-index: 99999;
  &:after {
    position: absolute;
    content: '▾';
    display: block;
    left: 50%;
    bottom: -16px;
    margin-left: -3px;
    color: $white !important;
    font-size: 28px;
  }
}
.home-page__content-menu--element_tooltip-content {
  width: 100%;
  padding: 10px;
  color: $white !important;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  border-radius: 3px;
  pointer-events: none;
  &:after {
    position: absolute;
    content: '▾';
    display: block;
    left: 50%;
    bottom: -9px;
    margin-left: -1px;
    font-size: 20px;
    z-index: 1;
  }
}

.home-page__sidebar {
  float: left;
  width: 33.4%;
  min-height: 45px;
  background: #EFEFEF;
}
.home-page__sidebar-user {
  position: relative;
  min-height: 60px;
  margin: 30px 0 30px;
  padding: 8px;
  padding-left: 75px;
  color: #636363;
  background: #DDDDDD;
}
.home-page__sidebar-user--avatar {
  position: absolute;
  width: 84px;
  height: 84px;
  top: -10px;
  left: -20px;
  background: #DDDDDD;
  border: 4px solid #DDDDDD;
  border-radius: 100%;
}
.home-page__sidebar-user--name {
  font-size: 20px;
  font-weight: bold;
}
.home-page__sidebar-user--job {
  margin-top: 6px;
}
.home-page__sidebar-menu {
  margin-bottom: 0;
  padding: 0;
}
.home-page__sidebar-menu--list {
  margin: 0!important;
  padding: 0!important;
  list-style: none!important;
}

@mixin sidebarMenu__element( $names, $colors, $images ) {
  @for $i from 1 through length($names) {

    $pilar-name: nth($names, $i);
    $pilar-color: nth($colors, $i);
    $pilar-image: nth($images, $i);

    &.pilar-#{$pilar-name},
    &.pilar-#{$pilar-name}:hover {
      .home-page__sidebar-menu--element-icon {
        background: $pilar-color;
        border: 4px solid darken( $pilar-color, 6);
        background-image: url(../images/#{$pilar-image}.svg);
        background-size: 28px;
        background-repeat: no-repeat;
        background-position: center;
      }
      .home-page__sidebar-menu--element-title {
        color: $pilar-color;
      }
    }
  }
}

.home-page__sidebar-menu--element {
  position: relative;
  height: 46px;
  margin-bottom: 0 !important;
  padding: 4px 54px;
  background: #F4F4F4;
  &:nth-child(even) {
    background: #E2E2E2;
    .home-page__sidebar-menu--element-value {
      background: #C8C8C8;
    }
  }
  @include sidebarMenu__element( $pilar-names, $pilar-colors, $pilar-images );
}
.home-page__sidebar-menu--element-icon {
  position: absolute;
  display: block;
  width: 46px;
  height: 46px;
  top: 0;
  left: 0;
  cursor: pointer;
}
.home-page__sidebar-menu--element-title {
  width: 100%;
  color: black;
}
.home-page__sidebar-menu--element-progress {
  position: relative;
  width: 100%;
  height: 16px;
  margin: 2px 0;
  background-color: $white !important;
  border: 2px solid #DDDDDD;
  border-radius: 8px;
  z-index: 0;
  &:before {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: $white !important;
    top: -4px;
    left: -2px;
    border: 2px solid #DDD;
    border-radius: 50%;
    z-index: -1;
  }
}
.home-page__sidebar-menu--element-progress_bar {
  position: relative;
  min-width: 20px;
  height: 12px;
  padding-left: 22px;
  background: $white;
  border: 2px solid $white;
  border-radius: 6px;
  z-index: 0;

  &:before {
    position: absolute;
    content: '';
    width: 12px;
    height: 12px;
    top: -2px;
    left: 0;
    background-color: $red;
    border-radius: 50%;
    z-index: -1;
  }

  &.small {
    background-color: $red;
    background-image: linear-gradient(50deg, $red, $orange);
  }

  &.middle {
    background-color: $red;
    background-image: linear-gradient(50deg, $red, $orange, $yellow);
  }

  &.half-full {
    background-color: $red;
    background-image: linear-gradient(50deg, $red, $orange, $yellow, $green);
  }

  &.full {
    background-color: $red;
    background-image: linear-gradient(50deg, $red, $orange, $yellow, $green, $aqua, $blue);
  }
}

.home-page__sidebar-menu--element-value {
  position: absolute;
  width: 46px;
  height: 46px;
  top: 0;
  right: 0;
  color: black;
  font-weight: bold;
  text-align: center;
  line-height: 46px !important;
  background: #D8D8D8;
}

// extra information
.home-page__sidebar-description {
  position: relative;
  height: 182px;
  overflow: hidden;
}

.home-page__sidebar-description--list {
  margin: 0!important;
  padding: 0!important;
  list-style: none!important;
}
@mixin descriptionBlock__element( $names, $colors ) {
  @for $i from 1 through length($names) {

    $pilar-name: nth($names, $i);
    $pilar-color: nth($colors, $i);

    &.pilar-#{$pilar-name} {
      background: $pilar-color;
      &:before {
        background: darken($pilar-color, 10);
      }
    }
  }
}

.home-page__sidebar-description--element {
  position: absolute !important;
  width: 100%;
  height: 182px;
  top: -100%;
  margin-bottom: 0 !important;
  padding: 16px 20px 0;
  color: $white !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0 14px 30px 0 inset;
  transition: top .2s;
  overflow: hidden;
  z-index: 0;
  &:before {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    top: 0;
    left: 0;
  }
  @include descriptionBlock__element( $pilar-names, $pilar-colors );
  &.active {
    top: 0;
    z-index: 2;
  }
  &.welcome {
    top: 0;
    z-index: 1;
  }
}
.home-page__sidebar-description--close {
  text-align: right;
  padding: 4px;
}
.home-page__sidebar-description--close_txt {
  padding: 4px;
  color: $white !important;
  cursor: pointer;
}
.home-page__sidebar-description--title {
  position: relative;
  display: block;
  margin: 0 !important;
  // padding-left: 56px;
  text-align: center;
  color: $white !important;
  font-size: 18px;
  line-height: 1.5 !important;
  // &:before {
  //   content: '';
  //   position: absolute;
  //   display: block;
  //   width: 26px;
  //   height: 20px;
  //   top: 3px;
  //   left: 20px;
  //   // background: url(/static/site-assets/sodexo/images/lol.png);
  //   background-size: 26px;
  // }
}
.home-page__sidebar-description--subtitle {
  margin: 8px 0;
  padding: 4px 10px;
  color: $white !important;
  font-size: 12px;
  text-align: center;
  line-height: 1.5 !important;
  background-color: rgba(0, 0, 0, 0.1);
}
.home-page__sidebar-description--content {
  margin-bottom: 12px;
  padding: 10px 20px;
  color: $white !important;
  font-size: 12px;
  line-height: 1.5 !important;
}

.home-page__sidebar-messages {
  height: 182px;
  margin: 0!important;
  padding: 0!important;
  list-style: none!important;
  background: #9B9B9B;
  box-shadow: rgba(0, 0, 0, 0.2) 0 14px 30px 0 inset;
  overflow: hidden;
  z-index: 0;
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 6px;
    background: darken(#9B9B9B, 15);
  }
}
.home-page__sidebar-message {
  margin-bottom: 0 !important;
  padding: 6px 20px 16px;
  color: $white !important;
  font-size: 12px;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
}
.home-page__sidebar-message--title {
  margin: 10px 0;
  padding: 4px 10px;
  font-size: 14px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  line-height: 1.5 !important;
}
.home-page__sidebar-message--time {
  @extend .home-page__sidebar-message--title;
  text-align: right;
}
.home-page__sidebar-message--content {
  margin-bottom: 12px;
  padding: 0 20px;
  font-size: 12px;
  line-height: 1.5 !important;
}