/* General style for the podium cmponent */

// Podium variables

$color__white: #FFF;
$color__cerulean: #05c0e7;
$color__saffron: #f8bc2b;
$color__iron: #D0D1D5;

$images__cdn: '//d1uwn6yupg8lfo.cloudfront.net/edxsites/sodexo/podium/';

$podium__pilars: (
  ('general', #2a295c, #10193a),
  ('recognition', #4e286f, #2b0751),
  ('personal_growth', #b02b32, #680101),
  ('physical_environment', #c11272, #6d0041),
  ('health_and_wellbeing', #35478b, #353669),
  ('social_interaction', #6a871a, #566b1a),
  ('ease_and_efficiency', #f07e10, #b45f0c)
);

@mixin pilarColorSet($pilars) {
  @each $pilar in $pilars {
    $name: nth($pilar, 1);
    $color__primary: nth($pilar, 2);
    $color__secundary: nth($pilar, 3);

    &.pilar-#{$name} {
      // background: pilarColorSet($name, 'primary');

      .podium-container {
        background-color: $color__primary;
      }

      .podium-list {
        background-color: $color__secundary;
      }

      .podium-list__header .username {
        background-color: $color__primary;
      }

      .podium-list__item {
        .position,
        .position::after,
        .name {
          background-color: $color__primary;
        }
      }

      .podium-footer__title {
        border-top: 4px solid $color__secundary;
      }
    }
  }
}

@mixin podiumNavbarIcons ($pilars) {
  @each $pilar in $pilars {
    $name: nth($pilar, 1);
    &.#{$name} {
      background-image: url('#{$images__cdn}#{$name}.png');
    }
  }
}

@keyframes loader-ratate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.podium {
  padding: 128px 0;
  background-image: url('#{$images__cdn}background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  @include pilarColorSet($podium__pilars);
}

.podium .podium-container {
  position: relative;
  max-width: 545px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-radius: 10px;

  &.loading {
    .loader {
      opacity: 1;
      z-index: 100;
    }

    .podium-list {
      min-height: 162px;
    }

    .podium-list__item {
      opacity: 0;
    }
  }

  .loader {
    position: absolute;
    display: inline-block;
    height: 64px;
    width: 64px;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: -8px 0 0 -32px;
    border: 3px solid #FFF;
    border-right-color: transparent;
    border-radius: 50%;
    opacity: 0;
    z-index: -1;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-name: loader-ratate;
    animation-timing-function: linear;
    transition: opacity 0.2s 0.35s, transform 0.2s 0.35s;
  }
}

.podium .podium-header {
  display: flex;
  flex-flow: row wrap;
  height: 60px;
  padding: 6px 12px;
  box-shadow: inset 0 0 40px 10px rgba(255, 255, 255, 0.4);
  border-radius: 10px;

  &__logo {
    flex: 1 1 0;
    align-self: center;

    &.left {
      text-align: left;
    }

    &.right {
      text-align: right;
    }

    .logo-vive {
      max-height: 44px;
    }

    .logo-sodexo {
      max-height: 32px;
    }
  }

  &__content {
    flex: 2 1 0;
    text-align: center;

    .title {
      color: $color__white;
      font-size: 24px;
      line-height: 24px;
    }

    .subtitle {
      color: $color__white;
    }
  }
}

.podium .podium-navbar {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none !important;
  margin: 0 20px !important;
  padding: 12px 0 !important;

  &__item {
    position: relative;
    height: 94px;
    margin: 0 10px !important;
    text-align: center;

    &.selected {
      .icon {
        width: 56px;
        height: 56px;
        margin-top: 0;
        margin-bottom: 12px;
        background-size: 32px;

        &::after {
          content: '';
          position: absolute;
          width: 0;
          height: 0;
          bottom: -12px;
          left: 12px;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-top: 12px solid $color__white;
        }
      }

      .title {
        display: block;
      }
    }

    .icon {
      position: relative;
      display: inline-block;
      width: 42px;
      height: 42px;
      margin-top: 14px;
      background-color: $color__white;
      background-size: 18px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 4px;

      @include podiumNavbarIcons($podium__pilars);
    }

    .title {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 200px;
      margin-left: -72px;
      display: none;
      color: $color__white;
    }
  }
}

.podium .podium-list {
  position: relative;
  list-style: none !important;
  margin: 0 20px !important;
  padding: 12px 12px 12px 85px !important;
  border-radius: 10px;

  &__header {
    display: flex;
    flex-flow: row wrap;
    margin-left: 28px;
    border-radius: 5px;
    overflow: hidden;

    .username {
      flex: 1 1 0;
      padding: 8px 12px;
      color: $color__white;
      line-height: 1;
      box-shadow: inset 0 0 20px 14px rgba(255, 255, 255, 0.16);
    }

    .points {
      min-width: 76px;
      padding: 8px 12px;
      text-align: center;
      font-size: 14px;
      background: $color__white;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    height: 64px;
    margin: 12px 0;
    align-items: center;
    transition: opacity 0.2s 0.35s;

    &.gold,
    &.silver,
    &.bronze {
      .name {
        background: $color__saffron;
      }

      .position {
        width: 37px;
        height: 54px;
        top: -10px;
        left: -40px;
        padding: 26px 12px 4px 8px;
        line-height: 24px;
        background-color: transparent !important;
        background-size: cover;

        &::after {
          display: none;
        }
      }
    }

    &.gold .position {
      background-image: url('#{$images__cdn}gold.png');
    }

    &.silver .position {
      background-image: url('#{$images__cdn}silver.png');
    }

    &.bronze .position {
      background-image: url('#{$images__cdn}bronze.png');
    }

    &.self {
      .position {
        background-color: $color__cerulean;

        &::after {
          background-color: $color__cerulean;
        }
      }
      .name {
        color: $color__white;
        background-color: $color__cerulean;
      }
    }

    .position {
      position: absolute;
      min-width: 34px;
      height: 28px;
      top: 14px;
      left: -50px;
      padding: 4px;
      color: $color__white;
      text-align: center;
      font-size: 22px;
      line-height: 18px;
      z-index: 1;

      &::after {
        content: '';
        position: absolute;
        top: 4px;
        right: -10px;
        width: 20px;
        height: 20px;
        transform: rotate(-45deg);
        z-index: -1;
      }
    }

    .avatar {
      width: 64px;
      height: 64px;
      background: #9E9E9E;
      border-radius: 50%;
      z-index: 1;
    }

    .name {
      flex: 1 1 0;
      margin-left: -12px;
      padding: 4px 12px 4px 24px;
      color: $color__white;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      border-bottom: 8px solid $color__iron;
      box-shadow: inset 0 0 20px 6px rgba(255, 255, 255, 0.16);
    }

    .points {
      min-width: 76px;
      padding: 8px 12px;
      text-align: center;
      font-size: 14px;
      background: $color__white;
      border-radius: 0 5px 5px 0;
    }
  }
}

.podium .podium-footer {
  padding: 12px 12px 0;

  &__title {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 22px;
    padding: 18px 0 0;
    text-align: center;

    .text {
      display: inline-block;
      vertical-align: middle;
      margin: 0;
      color: $color__white;
      padding: 0;
      font-size: 24px;
      font-weight: bold;
      border: none;
    }

    .logo {
      display: inline-block;
      width: 92px;
      height: 50px;
      margin-left: 6px;
    }
  }

  &__content {
    padding: 12px 20px 12px 76px;

    .podium-list__item {
      .position {
        min-width: 48px;
        top: 12px;
        left: -68px;
        font-size: 26px;
        height: 38px;
        line-height: 32px;

        &::after {
          top: 6px;
          right: -13px;
          width: 26px;
          height: 26px;
        }
      }

      .avatar {
        width: 84px;
        height: 84px;
      }

      .name {
        padding: 8px 24px;
        font-size: 16px;
      }

      .points {
        padding: 12px;
        font-size: 16px;
      }
    }
  }
}

@media ( max-width: 600px ) {
  .podium .podium-container {
    min-width: 300px;
  }

  .podium .podium-header__logo {
    .logo-vive {
      max-height: 32px;
    }

    .logo-sodexo {
      max-height: 24px;
    }
  }

  .podium .podium-header__content {
    .title {
      margin-top: 6px;
      font-size: 16px;
      line-height: 18px;
    }

    .subtitle {
      font-size: 12px;
    }
  }


  .podium .podium-navbar__item {
    margin: 0 6px!important;
  }

  .podium .podium-list__header {
    margin-left: 0;

    .username,
    .points {
      font-size: 10px;
    }
  }

  .podium .podium-list {
    padding: 12px 12px 12px 62px!important;

    &__item {
      .name,
      .points {
        font-size: 10px;
      }

      .name {
        padding: 4px 6px 4px 18px;
      }

      .points {
        min-width: 0;
        padding: 8px 6px;
      }

      .avatar {
        width: 44px;
        height: 44px;
      }
    }
  }

  .podium-footer__content {
    .podium-list__item.self {
      .name,
      .points {
        font-size: 10px;
      }

      .name {
        padding: 4px 6px 4px 18px;
      }

      .points {
        min-width: 0;
        padding: 8px 6px;
      }

      .avatar {
        width: 44px;
        height: 44px;
      }
    }
  }
}

