// responsive
$desktop:           1200px !default;
$tablet-landscape:  992px !default;
$tablet:            768px !default;
$smartphone:        550px !default;
$mobile:            480px !default;

// @media (max-width: $desktop) {}

@media (max-width: $tablet-landscape) {
  .navbar-component__logo {
    padding-left: 20px;
  }

  .wrapper-course-material ol.course-tabs {
    width: 100%;
    display: flex;
    flex-wrap: wrap;

    li {
      float: none;
      display: inline-block;
      width: 33.333%;
      margin-bottom: 10px;
      border-right: none;

      a {
        line-height: 1.5;

        &:hover,
        &:focus,
        &.active {
          color: $white !important;
          background: $midnightBlue;
        }
      }
    }
  }

  // game layout
  .home-page__content,
  .home-page__sidebar {
    width: 100%;
  }

  .home-page__sidebar-left,
  .home-page__sidebar-right {
    flex: 0 0 50%;
    max-width: 50%;
  }

  footer#footer-sdxo {
    .footer-content,
    .footer-branding {
      width: 100%;
      text-align: center;
    }

    .footer-branding {
      margin-top: 20px;
    }

    .footer-sodexo {
       &:before {
        display: none;
      }
    }
  }
}

@media (max-width: $tablet) {
  .wrapper-course-material ol.course-tabs li:first-child {
    a,
    a.active {
      padding-left: 15px;
    }
  }

  .sidebar,
  #wiki_panel,
  .course-index,
  .info-wrapper .handouts,
  .book-wrapper .book-sidebar {
    padding: 25px 20px;
  }

  .container,
  .dashboard {
    padding: 20px 10px;
  }

  .view-login,
  .view-passwordreset,
  .view-register {
    .introduction header .title, {
      top: 25px;
    }

    footer .container {
      width: 100%;
    }
  }

  .footer-component {
    height: auto;

    &:before {
      margin-bottom: 0;
    }

    .footer {
      &-content,
      &-branding {
        float: none!important;
        width: 100%!important;
        max-width: 100%;
        margin: 0;
        padding: 0;
      }

      &-content div {
        margin-top: 10px;
        text-align: center;
      }

      &-branding {
        margin-top: 20px;
        text-align: center;
        background: transparent;

        &:before {
          display: none;
        }
      }

      &-sodexo {
        padding: 10px;
        background: $white;
      }
    }
  }
}

@media (max-width: $smartphone) {
  .navbar-component__title {
    display: none;
  }
  // game layout
  .home-page {
    &__content-map {
      height: 400px;

      &--viewer .viewer .thumbnail {
        display: none;
      }
    }

    &__sidebar-left,
    &__sidebar-right {
      width: 100%;
    }
  }

  .wrapper-course-material ol.course-tabs li {
    width: 100%;

    a.active {
      margin: 0 10px !important;
      padding: 4px;
    }
  }

  .xmodule_display.xmodule_SequenceModule .sequence-nav .sequence-list-wrapper ol li a {
    border-bottom: 1px solid $white;
  }
}

@media (max-width: $smartphone) and (max-height: $smartphone) {
  .home-page__content-map {
    height: 250px;
  }
}

@media (max-width: $mobile) {

}