// BASE VARIABLES
// =============================================

// // set defaoult bacgrounds in login, register and password restes pages
// $login-banner-image: '' !default;
// $register-banner-image: '' !default;
// $passwordreset-banner-image: '' !default;
/*
**************PALLETTE*************
*/

$transparent: transparent;

$white:			    #ffffff;
$black:			    #000000;

$grey-light:    #EDEEEF;
$grey:          #58595B;
$grey-dark:     #6D6E71;

$midnightBlue:  #0C004E;
$purple:        #781964;
$blue:          #0055A3;
$blue-deep:     #06385E;
$yellow:        #F2AF06;
$orange:        #F87B00;
$aqua:          #56B8CE;
$green:         #B8C902;
$magenta:       #FE0083;


// gradient colors
$gradient-1:     $aqua;
$gradient-2:     $purple;
$gradient-3:     $orange;
$gradient-4:     $green;
$gradient-5:     $yellow;
$gradient-6:     $magenta;
$gradient-7:     $blue;
$gradient-8:     $aqua;
$gradient-9:     $purple;

// pilar colors
$efficiency: rgb(240, 126, 16);
$recognition: rgb(78, 41, 111);
$personal: rgb(187, 43, 49);
$social: rgb(139, 182, 37);
$health: rgb(53, 71, 139);
$environment: rgb(203, 20, 113);

// $blue:           #1F3D9A;
$blue-dark:     #081D54;

// $purple:        #2E3897;

$red:           #f00000;

$section__bg--background: #ffffff;



// social colors
$fb-color: 		#3b5998;
$tw-color: 		#00aced;
$lk-color: 		#007bb6;

/*
**************GRID*************
*/
$container-width: 	1200px;

/*
**************COLORS*************
*/

// Application Colors
$primary-color: 		  $red;

$link-color:         	$midnightBlue;
$link-color-hover: 		$blue-dark;
$default-text-color: 	darken($grey, 25%);
$btn:                 $midnightBlue;
$btn-hover:           darken( $midnightBlue, 10%);
$footer-color:        $grey;

/*
**************BASIC*************
*/

$title-fontSize:      36px;
$title-margin_bottom: 14px;
$paragraph-size:      16px;


/*
**************HEADER*************
*/
$header-img : url('../images/header-texture.png');
$forum-header-img : url('../images/forum_banner.jpg');

/*
**************COURSE*************
*/

// $acordion-colors: $purple, $green, $aqua, $orange, $yellow, $blue;
$pilar-names: ( default, magenta, purple, yellow, orange, green, blue );

$pilar-colors: $grey, $efficiency, $recognition, $personal, $social, $health, $environment;

$pilar-images: none, gears-icon, medal-icon, stairs-icon, people-icon, heart-icon, sun-icon;

// Typography
$SansaPro-Light : 'SansaPro-Light', sans-serif;
$SansaPro-Normal : 'SansaPro-Normal', sans-serif;

@font-face {
  font-family: 'SansaPro-Normal';
  src: url('../fonts/SansaPro-Normal.otf') format("opentype");
}
@font-face {
  font-family: 'SansaPro-Light';
  src: url('../fonts/SansaPro-Light.otf') format("opentype");
}
@font-face {
  font-family: 'SansaPro-Light';
  src: url('../fonts/SansaPro-Light.otf') format("opentype");
}


 $main-color: $midnightBlue;
 $white: #fff;

$neat-grid: (
  columns: 12,
  gutter: 0,
);

// Navbar
$navbar-bg: $white !default;
$navbar-zindex: 1100 !default;
$navbar__nav-login-color: $white !default;
$navbar__nav-login-hover-color: $white !default;
$navbar__nav-login-bg: $main-color;
$navbar__nav-login-hover-bg: lighten($main-color, 5%);
$navbar__nav-account-color: $main-color;
$navbar__nav-account-border: 1px solid $main-color;
$navbar__nav-toggler-color: $main-color;
$navbar__nav-toggler-hover-bg: rgba(0, 0, 0, .05);
$navbar__nav-link-color: $main-color;

//Links color
$link-color: $main-color;
$link-hover-color: darken($link-color, 15%);

$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$headings-font-family: $font-family-base;

$h1-font-size: 2.5rem;
$h2-font-size: 2rem;
$h3-font-size: 1.75rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Course
$course-header__title-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12) !default;

$course-component__item-more-color: $white !default;
$course-component__item-more-bg: $main-color !default;
$course-component__item-shadow: 0 3px 4px 0 rgba(0,0,0,.14),0 3px 3px -2px rgba(0,0,0,.2),0 1px 8px 0 rgba(0,0,0,.12) !default;
$course-component__item-shadow--hover: 0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12),0 5px 5px -3px rgba(0,0,0,.2) !default;

$course-component__item-more__span-color: $white !default;
$course-component__item-more__span-border: $white !default;

// Footer
$footer-bg: $white !default;
$footer-zindex: 1100 !default;

$primary-bg: $white;
$secondary-bg: $white;

$navbar-component-bg: $midnightBlue;
$navbar-component__nav-link-color: $white;
$navbar-component__nav-link-color--hover: $white;
$navbar-component__account-bg: $white;
$home-header__title-shadow: none;

$footer-component-bg: $midnightBlue;
$footer-component-border: $midnightBlue;

// simple variables
$homepage__bg--background: $white;
$coursespage__bg--background: $homepage__bg--background;

$homepage-bg-image: '';
$coursespage-bg-image: '';

// FONTS
@font-face {
  font-family: 'SansaPro-Normal';
  src: url('../fonts/sansapro-normal.eot');
  src: url('../fonts/sansapro-normal.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sansapro-normal.woff') format('woff'),
       url('../fonts/sansapro-normal.ttf') format('truetype'),
       url('../fonts/sansapro-normal.svg#SansaPro-Normal') format('svg');
  font-weight: normal;
  font-style: normal;
}
$font_base: 'SansaPro-Normal';
