// scss-lint:disable all
$white:			    #ffffff;

%row-block {
    position: relative;
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 0;
    z-index: 0;
}

div.info-wrapper section.updates .homesdx {
	@extend %row-block;
	max-width: 1180px;
	margin: 0 auto;
	background-size: 998px;
  background-position: -106px -198px;

	&__section {
		flex: 0 0 100%;
    max-width: 100%;
		margin-bottom: 14px;
		box-sizing: border-box;
		&.full {
			padding-left: 0 !important;
			padding-right: 0 !important;
		}
		&.left {
			padding-left: 0 !important;
		}
		&.right {
			padding-right: 0 !important;
		}

		iframe {
			width: 100%;
		}
	}
	.header-element {
		padding-left: 0 !important;
		padding-right: 0 !important;
		border-top: 16px solid #015298;
		&__cover {
			@extend %row-block;
			// @include flex-align(right, bottom);
			align-items: flex-end;
			justify-content: right;
			position: relative;
			min-height: 412px;
			overflow: hidden;
			&-image {
				position: absolute;
			    width: 100%;
			    height: 100%;
				left: 0;
			    top: 0;
			    object-fit: cover;
			    z-index: -1;
			}
			&-text {
				flex: 0 0 50%;
				max-width: 50%;
				text-align: right;
   				padding-right: 26px !important;
   				padding-bottom: 26px;
				h1 {
					margin: 0;
				    color: white;
				    text-align: right;
				    line-height: 30px;
				    font-size: 26px;
				    // -webkit-text-stroke: 1px #00549C;
				    &.big {
				    	font-weight: bold;
				    }
				}
			}
		}
		&__banner {
			@extend %row-block;
			padding: 8px 0;
			background: #01559D;
			border-top: 12px solid #00286D;
			&-text {
				flex: 0 0 75%;
				max-width: 75%;
				small {
					color: #fff;
				}
				h3 {
					color: #fff;
				}
			}
			&-btn {
				@extend %row-block;
				flex: 0 0 25%;
				max-width: 25%;
				// @include flex-align(right, middle);
				align-items: center;
				justify-content: right;

				&_link {
					padding: 6px 12px;
				    color: #fff !important;
				    border: 4px solid #fff;
				    text-decoration: none;
				    box-sizing: border-box;
				    &:hover, &:active, &:focus {
				    	color: #01559D !important;
				    	background: #fff;
				    }
				    i {
    					padding: 0 6px;
				    }
				}
			}
		}
	}
	.small-element,
	.middle-element {
		flex: 0 0 50%;
		max-width: 50%;
		&__image {
			width: 100%;
		}
		&__text {
		    padding: 12px;
		    color: #fff;
		    font-size: 18px;
		    font-weight: bold;
		    text-align: center;
			background: #0C004E;
		}
	}
	.small-element {
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
	.large-element {
		flex: 0 0 66.6667%;
		max-width: 66.6667%;
	}
	.slider-element {
	    position: relative;
	    width: 100%;
	    padding: 0;
	    box-sizing: border-box;
	    &:hover {
	        .slider-element__control {
	            opacity: 1;
	        }
	    }
		&__box {
		    position: relative;
		    width: 100%;
		    margin: 0 auto;
		    font-size: 0;
		    line-height: 0;
		    overflow: hidden;
		    white-space: nowrap;
		}
		&__list {
		    padding: 0;
		}
		&__element {
		    position: relative;
		    display: inline-block;
		    width: 100%;
		    height: auto;
		    max-height: 450px;
		    overflow: hidden;
		    cursor: move;
		}
		&__image {
		    width: 100%;
		    object-fit: cover;
		}
		&__content {
			@extend %row-block;
			// @include flex-align(center, middle);
			align-items: center;
			justify-content: center;
			width: 100%;
			min-height: 268px;
			padding: 8px 16px;
			background: #E0E0E0;

		    &-text {
		        // text-align: center;
		        line-height: 1.5;
		        white-space: normal;
		        h1 {
		            margin: 0;
		            color: #0C004E;
		            font-size: 16px;
		            font-weight: bold;
		        }
		        p {
		            margin: 0;
		            color: #727272;
		            font-size: 16px;
		           	text-align: center;
		        }
		    }
		}
		&__control {
		    position: absolute;
		    display: block;
		    width: 60px;
		    height: 60px;
		    top: 50%;
		    margin-top: -30px;
		    font-size: 60px;
		    line-height: 60px;
		    text-align: center;
		    border-radius: 50%;
		    transition: all .2s linear;
		    opacity: 0;
		    cursor: pointer;
		    &:hover {
		        // font-size: 40px;
		    }
		    &.prev {
		        left: 0;
		    }
		    &.next {
		        right: 0;
		    }
		    i {
		        color: $white;
		    }
		}
	}
}

// responsive
$desktop:           1200px !default;
$tablet-landscape:  992px !default;
$tablet:            768px !default;
$smartphone:        550px !default;
$mobile:            480px !default;

@media ( max-width: $desktop ) {
	div.info-wrapper section.updates .homesdx {
		.header-element__cover{
			min-height: 280px;
			&-image {
				height: auto;
			}
		}
	}
}
@media ( max-width: $tablet-landscape ) {
	div.info-wrapper section.updates .homesdx {
		.header-element__cover-image {
			height: 100%;
		}
	}
}
@media ( max-width: $tablet ) {
	div.info-wrapper section.updates .homesdx {
		.header-element__cover-text {
			flex: 0 0 100%;
			max-width: 100%;
		}
		.header-element__banner {
			&-text {
				flex: 0 0 100%;
				max-width: 100%;
			}
			&-btn {
				flex: 0 0 100%;
				max-width: 100%;
				// @include flex-align(left, middle);
				align-items: center;
				justify-content: left;
				margin: 22px 0 12px;
			}
		}
	}
}
@media ( max-width: $smartphone ) {
}
@media ( max-width: $mobile ) {
	div.info-wrapper section.updates .homesdx {
		.homesdx__section {
			&.middle-element,
			&.small-element,
			&.large-element {
				flex: 0 0 100%;
				max-width: 100%;
			}
		}
	}
}

body .container div.info-wrapper section.handouts {
  display: none !important;
}
