// Course components
// --------------------------------------------------

/* ========================================================
Course Banners
======================================================== */
/* Banner ~ in course */
.view-in-course .home {
  max-width: 1180px;
  margin: 16px auto;
}

// post review this code
.course-info>header.course-profile,
.find-courses,
.university-profile {
  padding-bottom: 0;

  header.search {
    position: relative;
    height: auto;
    margin-top: 0;
    padding: 140px 0;
    background: $white;
    box-shadow: none;

    // scss-lint:disable SelectorDepth
    .inner-wrapper {
      height: auto;
    }

    // scss-lint:disable SelectorDepth
    .inner-wrapper.main-search,
    .inner-wrapper.university-search {
      padding: 0;
    }

    // scss-lint:disable SelectorDepth
    .inner-wrapper>hgroup {
      border: 0;
      border-radius: 3px;
      box-shadow: $course-header__title-shadow;
    }

    // scss-lint:disable SelectorDepth
    canvas {
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}


/* Banner ~ find courses */
.courses-banner {
  height: 280px;
  margin: 0 auto;
  padding: 0;

  &__image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}



/* ========================================================
Course Item
======================================================== */
.courses-container > .course-component {
  padding: 0;
}

.course-component {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 18px 10px 0;
}

.course-component__list {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: stretch;
  flex-flow: row wrap;
}

.course-component__item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 266px;
  overflow: hidden;
  margin: 12px;
  padding-bottom: 32px;
  border-radius: 3px;
  box-shadow: $course-component__item-shadow;
  transition: box-shadow .2s cubic-bezier(.4, 0, 1, 1);

  &:hover {
    box-shadow: $course-component__item-shadow--hover;

    .course-component__item-more span {
      opacity: 1;
    }

    .course-component__item-more::after {
      transform: scaleY(1);
    }
  }

  a {
    &:hover,
    &:focus,
    &:active {
      outline: none;
      text-decoration: none;
    }
  }

  &-cover {
    width: 100%;
    height: 154px;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  &-more {
    position: absolute;
    width: 100%;
    height: 154px;
    top: 0;
    color: $course-component__item-more-color;
    line-height: 154px;
    text-align: center;
    z-index: 0;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $course-component__item-more-bg;
      z-index: -1;
      opacity: 0.5;
      transform: scaleY(0);
      transform-origin: 50% 100%;
      transition-property: transform;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }

    span {
      padding: 8px;
      color: $course-component__item-more__span-color;
      border: 1px solid $course-component__item-more__span-border;
      border-radius: 3px;
      opacity: 0;
      transition-duration: 0.3s;
    }
  }

  &-info {
    padding: 8px 16px;
    background-color: $white;
  }

  &-organization {
    position: absolute;
    height: 38px;
    margin-top: -28px;
    margin-left: 16px;

    span {
      display: inline-block;
      padding: 6px;
      background: $white;
      border-radius: 3px 3px 0 0;
    }
  }

  &-title {
    margin: 0;
    font-size: 18px;
    line-height: 1.2;
  }

  &-code {
    margin: 12px 0;
    color: #0F1926;
  }

  &-date {
    position: absolute;
    width: 100%;
    height: 32px;
    bottom: 0;
    left: 0;
    font-size: 12px;
    padding: 8px 16px;
    background-color: #F5F5F5;
  }
}



/* ========================================================
Course about
======================================================== */

// show handouts eucalyptus
div.info-wrapper section {
  .updates {
    width: 100%;
  }

  .handouts {
    display: none;
  }
}

// Course About
// scss-lint:disable SelectorDepth
.course-info {
  header.course-profile {
    margin-top: 0;

    .intro-inner-wrapper .media .hero {
      height: 220px;
    }
  }

  // sidebar
  .course-sidebar .important-dates li {
    .icon,
    .important-dates-item-title {
      float: left;
    }

    .icon {
      margin: 4px 10px 0;
    }

    .important-dates-item-text {
      float: right;
    }
  }
}

.course-info,
.find-courses,
.university-profile {
  background: transparent;

  .details .inner-wrapper .course-staff .teacher .teacher-image {
    float: left;
    margin: 0 15px 0 0;
  }
}

.course-info header.course-profile,
.find-courses header.search {
  height: auto;
  padding: 56px 0;

  .intro-inner-wrapper,
  .intro-inner-wrapper .media .hero {
    border: 0;
    border-radius: 3px;

    .intro hgroup h1 {
      text-align: left;
    }
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* ========================================================
Course content
======================================================== */
.xmodule_display.xmodule_SequenceModule .sequence-nav-button {
  height: 44px;
}

// fix video start
a.ui-slider-handle {
  left: .3em;
}

// This hides the Save button
.xmodule_display.xmodule_CapaModule div.problem div.action .save {
  display: none;
}

// This hides the individual scores at the progress
.chapters .sections .scores {
  display: none !important;
}

// This prevents the user from dragging images
// scss-lint:disable VendorPrefix
.xmodule_display img {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.xmodule_display .zooming-image-place img {
  pointer-events: auto;
  -webkit-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}

// This makes the popover tooltips on a sequence align to the left
.xmodule_display.xmodule_SequenceModule nav.sequence-nav ol li a p {
  right: auto !important;
  left: 0;
}

// fix video controls
.xmodule_display.xmodule_VideoModule div.video {
  box-sizing: content-box;
}

// fix drang and drop
.course-content div[role=listitem] {
  box-sizing: content-box;
}

// fix garded course content
.course-index div#accordion ul.ui-accordion-content li.graded p {
  padding-right: 24px;
}

.content-wrapper div.info-wrapper section.handouts ol li a {
  color: $color__deep-cerulean;
}

.course-index .accordion .course-navigation .button-chapter .group-heading {
  padding: 15px 40px;
}

// Fix image in welcome message
.page-content .welcome-message img,
.page-content .welcome-message iframe,
.section-handouts img,
.section-handouts iframe {
  max-width: 100%;
}


// // Forum
// // --------------------------------------------------
%btn-forum {
  width: auto;
  height: auto;
  color: $color__white !important;
  font-size: 14px;
  line-height: 1.5;
  border: 0;
  border-radius: 3px;
  background-image: none !important;

  .button-text {
    color: $color__white !important;
  }

  &:link,
  &:hover,
  &:active,
  &:focus {
    width: auto;
    height: auto;
    color: $color__white !important;
    font-size: 14px;
    line-height: 1.5;
    background-image: none !important;
    border: 0;
    box-shadow: none !important;
    border-radius: 3px;
  }
}

// For the thread initiator only. TODO: get a discussion going and test the other buttons
body.discussion .course-tabs .right,
.discussion .course-tabs .right,
.discussion-module,
.forum-new-post-form,
.discussion-submit-post {
  .new-post-btn,
  .control-button,
  .submit,
  .new-post-btn {
    @extend %btn-forum;
  }
}

.container,
.outside-app,
.wrapper-account-settings {
  .discussion-body,
  .discussion-module,
  .discussion-user-threads {
    .discussion-submit-post {
      @extend %btn-forum;
    }
  }
}

.discussion,
.discussion-module,
.discussion-user-threads {
  .comments .comment-form .discussion-submit-comment {
    @extend %btn-forum;
  }
}

.view-profile {
  .wrapper-profile-sections,
  .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy {
    .discussion-body,
    .discussion-module,
    .discussion-user-threads {
      .discussion-submit-post {
        @extend %btn-forum;
      }
    }
  }
}

/* fix button (not change state color)*/
.xmodule_display.xmodule_CapaModule div.problem .action {
  .check,
  .check.Final {
    background: $color__deep-cerulean;
    color: $white;
  }
}

// temporal fix for ficus
// scss-lint:disable SelectorDepth, NestingDepth, MergeableSelector
.xmodule_display.xmodule_SequenceModule .sequence-nav {
  height: auto;
  align-items: center;

  .sequence-list-wrapper {
    height: auto;

    /* list of elements */
    ol {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      li {
        min-width: 52px;
        flex-grow: 1;
        border-left-style: solid;
        border-right-style: solid;

        /* tooltip */
        a p {
          min-width: 52px;
          box-sizing: border-box;
          text-align: center;

          &::after {
            left: 22px;
          }
        }
      }
    }
  }

  .sequence-nav-button {
    top: 0;
    margin-top: 0;
  }
}

.calc-main .calc span.fa {
  display: none;
}

/* ========================================================
 Xblock styles
======================================================== */

.survey-table .survey-answer {
  white-space: nowrap;
}
