/* ========================================================

  | ____|   __| |  _   _   _ __     ___  __  __ | |
  |  _|    / _` | | | | | | '_ \   / _ \ \ \/ / | __
  | |___  | (_| | | |_| | | | | | |  __/  >  <  | |
  |_____|  \__,_|  __,_| |_| |_|  \___| /_/\_\  \__

======================================================== */

/*
    Postponed tasks
    --------------------------------------------------
    * review use foundation or bourbon - neat
    * correctly define all the colors
    * extract fonts files, font size and line height
    * check the spacing between components
*/

// Color pallette
$color__white: #FFF;
$color__spring-green: #00EA75;
$color__deep-cerulean: #0B7AB2;

$course-header__title-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !default;
$course-component__item-more-color: $color__white !default;
$course-component__item-more-bg: $color__deep-cerulean !default;
$course-component__item-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12) !default;
$course-component__item-shadow--hover: 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12), 0 5px 5px -3px rgba(0, 0, 0, .2) !default;
$course-component__item-more__span-color: $color__white !default;
$course-component__item-more__span-border: $color__white !default;

// this is only for buttons and need migrate to eucalyptus
$baseline: 20px;
$white: $color__white;
$white-t3: rgba($white,  0.75);
$m-gray-l2: #A4A6A8;
$button-color: $color__deep-cerulean;
$button-color-d1: shade($button-color,  20%) !default;
$button-color-d2: shade($button-color,  40%) !default;
$button-color-d3: shade($button-color,  60%) !default;
$button-color-t3: rgba($button-color,  0.75) !default;

$button-color: $color__deep-cerulean;

// z-index list
$zIndex__0:     0;
$zIndex__1:   100;
$zIndex__2:   200;
$zIndex__3:   300;
$zIndex__4:   400;
$zIndex__5:   500;
$zIndex__6:   600;
$zIndex__7:   700;
$zIndex__8:   800;
$zIndex__9:   900;
$zIndex__10: 1000;

// Open Sans Pro
// --------------------------------------------------
$font_base: "Source Sans Pro",  sans-serif;
$letter_spacing: normal;
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,600);

@import 'mixins';
@import 'base';
@import 'header';
@import 'modal';
@import 'home';
@import 'footer';
@import 'course';
@import 'others';
@import 'responsive';