// ==================================================
// Media Queries
// @param {Keyword|Number} $val [small]
// Breakpoint name, or px, rem, or em value to process.
// The value down is for mobile first methodology.
// ==================================================

@include media-breakpoint-down(lg) {
  .fullscreen-component.register-form {
    height: auto !important;
  }

  .register-component {
    margin: 18px;

    &__title {
      margin-bottom: 12px;
    }

    &__content {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  .register-form__input.select {
    padding-bottom: 0;
  }

  .register-form__input.password2 {
    margin-bottom: 0;
  }
}

@include media-breakpoint-down(md) {
  // trick for responsive library
  header>nav {
    .navbar-component__container {
      padding: 16px 0;
    }

    .navbar-component__nav {
      position: absolute;
      display: none;
      width: 100%;
      height: auto;
      top: 76px;
      left: 0;
      padding: 16px 0;
      background: lighten(#004054, 1);
      box-shadow: none;

      &.expanded {
        display: flex;
      }
    }

    .navbar-component__nav--mobile {
      display: block;
      color: $color__white;
      font-size: 26px;
    }
  }

  .information__component {
    display: none;
  }

  .home-component__list {
    align-items: center;
    justify-content: center;

    &-element {
      padding: .9375rem;
    }
  }

  .login-component__link-login {
    flex: none;
    width: auto;
    display: block;
    max-width: 90%;
    padding: 8px;
  }

  .login-component__link-register {
    flex: none;
    width: auto;
    display: block;
    max-width: 40%;
    padding: 8px;
    margin: 0 auto;
  }

  .view-register .fullscreen-component {
    height: auto !important;
  }

  .register-component__title {
    padding-right: 32px;
  }

  .register-form__input label,
  .register-form__input input,
  .register-form__input-select,
  .register-form__location-label,
  .register-form__checkbox,
  .register-form__submit {
    flex: 0 0 100%;
    max-width: 100%;
    // @include grid-column-offset(0);

    + div.error {
      flex: 0 0 100%;
      max-width: 100%;
      // @include grid-column-offset(0);
      position: relative;
    }
  }

  .register-component__content,
  .register-form__input-select,
  .register-form__input-select_wrapper,
  .register-form__input-names,
  .register-form__input-names div {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .register-form__input,
  .register-form__location {
    padding-left: .625rem;
    padding-right: .625rem;
  }

  .register-form__input label,
  .register-form__location-label,
  .register-form__input-select,
  .register-form__checkbox {
    text-align: center;
  }

  .footer-component {
    height: auto;
    padding: 12px 0;

    &__container {
      align-items: center;
      justify-content: space-around;
      padding: 0 16px;
    }

    &__links,
    &__social {
      margin-bottom: 12px;
    }

    &__copy {
      width: 100%;
      text-align: center;
    }
  }

  .proctored_exam_status.is-fixed {
    position: relative;
  }

  .proctored_exam_status .exam-timer {
    .exam-text {
      width: 100%;
    }

    .turn_in_exam {
      float: none;
      margin-top: 20px;
      text-align: center;
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar-component__logo {
    margin: 8px;

    &.course {
      padding-right: 8px;
    }
  }

  .fullscreen-component__down {
    width: 100%;
    left: 0;
    margin-left: 0;
  }

  .login-component__header {
    margin-top: -88px;

    img {
      min-width: 132px;
      max-width: 64px;
    }
  }

  .login-component__container {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .login-component__link-forgot,
  .login-component__content-divider {
    flex: 0 0 100%;
    max-width: 100%;
    margin: 5px 0 8px;
  }

  .login-component__link-forgot {
    margin-top: 18px;
  }

  .home-component {
    padding: 40px 0;

    &.bgimage {
      padding: 180px 12px;
    }
  }

  .home-component__content {
    flex: 0 0 100%;
      max-width: 100%;
    }

    .home-component__list {
      align-items: center;
      justify-content: center;

      &-element {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }

  .home-component__slider {
    &-element {
      padding: 0 60px;
    }

    &-element_content {
      flex-wrap: wrap;

      img {
        margin-right: 0;
        margin-bottom: 26px;
      }

      p {
        flex: 0 0 100%;
        max-width: 100%;
        font-size: 14px;
      }
    }
  }

  .activation-component__content.notice .message {
    h1 {
      font-size: 18px;
    }

    h3 {
      font-size: 14px;
    }
  }

  .register-component__container {
    padding: 8px;
    border-width: 8px;
  }

  .register-component__content,
  .register-form__input-select_wrapper,
  .register-form__location-input,
  .register-form__input-names,
  .register-form__input-names div {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .register-form__input-select_wrapper,
  .register-form__input-names div {
    display: block;
    margin-left: 0;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;

    &.country {
      margin-bottom: 0;
    }

    select {
      width: 100%;
    }
  }

  .register-form__location-country,
  .register-form__location-city {
   flex: 0 0 50%;
   max-width: 50%;
 }

 .forgot-component__container {
  flex: 0 0 100%;
  max-width: 100%;
}

  .footer-component__links {
    width: 100%;
    padding-bottom: 8px;
    text-align: center;
    border-bottom: 1px solid #999;

    li {
      display: block;
      border-right: 0;
      margin: 0;
      padding: 6px;
    }
  }
}

@media (max-height: 991px) {
  .dashboard .main-container .my-courses .course .details {
    padding-left: 0;
  }
}

// conditionals for small height
@media (max-height: 768px) {
  .fullscreen-component,
  .fullscreen-component.down {
    padding: 8px;

    &__down-icon {
      width: 24px;
    }

    &__down-title img {
      width: 56px;
    }
  }

  .login-component__container {
    padding-bottom: 12px;
  }

  .login-component__content,
  .login-component__content.home,
  .login-component__container {
    margin: 12px 0 4px;
  }

  .login-component__header {
    margin-top: -88px;

    img {
      min-width: 132px;
      max-width: 64px;
    }
  }

  .login-component__content-divider {
    margin: 5px 0 8px;
  }

  .dashboard .main-container .my-courses .course .details .wrapper-course-image {
    display: block;
  }
}

@media (max-height: 480px) {
  .fullscreen-component {
    height: auto !important;
    min-height: 480px;
  }

  .login-component__back {
    position: relative;
  }
}

 @media only screen and (max-width: 576px) {
     .xmodule_display.xmodule_SequenceModule .sequence-nav {
       display: flex;
       flex-wrap: wrap;
       height: auto;
       margin: 0 auto;

       .sequence-nav-button.button-previous,
       .sequence-nav-button.button-next {
         margin: .75rem 0;
         border-radius: 3px;
         flex: 0 0 100%;
         max-width: 100%;
         min-height: 44px;
       }

       .sequence-list-wrapper {        
         flex: 0 0 100%;
         max-width: 100%;
         min-height: 44px;
       }
   } 

   /*** Discusion ***/
   .discussion-body .home-helpgrid .helpgrid-row {
     display: flex;
     flex-flow: column;

     .row-item {
       width: 100%;
       padding: 10px;
     }
   }  
 }

