<%! 
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
static_contact_html = theming.options('static', 'static_contact_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_contact_title', default= _('Contact'))}</title></%block>

<%
formspree_contact_email = configuration_helpers.get_value('formspree_contact_email', None)
formspree_redirect = configuration_helpers.get_value('SITE_NAME')
%>

<section class="content-container p-5 contact">
	<header class="contact-header">
		<h1>${_("Contact")}</h1>
	</header>
	<div class="contact-content">
		<ul class="contact-content__left">
			<li>SEGES P/S</li>
			<li>Agro Food Park 15</li>
			<li>8200 Aarhus N</li>
			<li>T: +45 8740 5000</li>
			<li>F: +45 8740 5010</li>
			<li>E: ${formspree_contact_email}</li>
		</ul>
		<form class="contact-content__right" action="https://formspree.io/${formspree_contact_email}" method="POST">
			<fieldset class="contact-form__field">
				<label class="contact-form__input-label" for="name">Emne</label>
				<input type="text" name="_subject">
			</fieldset>
			<fieldset class="contact-form__field">
				<label class="contact-form__input-label" for="name">Fulde navn</label>
				<input type="text" name="name">
			</fieldset>
			<fieldset class="contact-form__field">
				<label class="contact-form__input-label" for="tel">Telefonnummer</label>
				<input type="tel" name="tel">
			</fieldset>
			<fieldset class="contact-form__field">
				<label class="contact-form__input-label" for="email">Email</label>
				<input type="email" name="_replyto">
			</fieldset>
			<fieldset class="contact-form__field">
				<label class="contact-form__input-label" for="mesage">Besked</label>
				<textarea type="text" name="message" rows="5"></textarea>
			</fieldset>
			<input type="hidden" name="_next" value="${formspree_redirect}" />
			<input type="text" name="_gotcha" style="display:none" />
			<input type="submit" value="${_("Send")}">
		</form>
	</div>
</section>
