<%! 
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
%>
<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%
static_honor_html = theming.options('static', 'static_honor_html', default= '')
%>

<%block name="title"><title>${theming.options('static', 'static_honor_title', default= _('Honor Code'))}</title></%block>

<section class="content-container p-5 honor">
	<div class="row static_page container p-4">
		<h1>Code of honor</h1>
		<p>SEGES E-læring afhænger af din motivation til at modtage samt at lære det givne materiale på ærlig vis. For at deltage skal du acceptere de nedenstående punkter, samt eventuelle yderligere punkter for hvert enkelt kursusforløb.</p>
		<p>Ved at deltage i et SEGES e-lærings forløb forpligter jeg mig til at</p>
		<ul>
			<li>Færdiggøre alle uddannelsesforløb ved egen hånd, og ikke bruge andres arbejde.</li>
			<li>Kun at have én brugerprofil, samt aldrig lade andre anvende mit brugernavn eller password.</li>
			<li>Aldrig at benytte metoder eller anden uærlig metode til at forbedre mine slutresultater, eller forringe andres slutresultater.</li>
			<li>Ikke at publicere svar der bliver brugt til at bedømme andre studerende.</li>
		</ul>
		<p>Disse er gældende, med mindre at den ansvarlige ved et unikt kursus anmoder om:</p>
		<ul>
			<li>At samarbejde med andre, med udgangspunkt i videoer eller opgaver.</li>
			<li>Fremvise idéer eller skrevne opgaver til andre deltagere af samme uddannelsesforløb med henblik på respons.</li>
		</ul>
	</div>
</section>
