## mako
<%!
   from django.core.urlresolvers import reverse
   from django.utils.translation import ugettext as _
   from branding import api as branding_api

   from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
   %>
<%namespace name='static' file='/static_content.html'/>
<%
  footer_override = theming.options('footer','footer_override', default=False)

  footer_logo_src = theming.options('footer', 'footer_logo_src', default= branding_api.get_logo_url(is_secure))
  footer_logo_url = theming.options('footer', 'footer_logo_url', default= marketing_link('ROOT'))
  footer_logo_alt = theming.options('footer', 'footer_logo_alt', default= static.get_platform_name())
  footer_logo_target = theming.options('foooter', 'footer_logo_target', default= '_self')

  footer_description = theming.options('footer','footer_description', default='')
  footer_links = theming.options('footer','footer_links', default=[])

  header_langselector = theming.options('header', 'header_langselector', default= False)
  footer_langselector = theming.options('footer','footer_langselector', default=False)

  footer_social = theming.options('footer','footer_social', default=[])

  footer_openedx_src = theming.options('footer', 'footer_openedx_src', default= 'https://d1uwn6yupg8lfo.cloudfront.net/edxsites/aegir-images/openedx-color.png')
  footer_openedx_url = theming.options('footer', 'footer_openedx_url', default= 'https://open.edx.org/')
  footer_openedx_alt = theming.options('footer', 'footer_openedx_alt', default= _('Powered by OPENedX'))
  footer_openedx_target = theming.options('footer', 'footer_openedx_target', default= '_self')

  footer_edunext_src = theming.options('footer', 'footer_edunext_src', default= 'https://d1uwn6yupg8lfo.cloudfront.net/edxsites/aegir-images/edunext-color.png')
  footer_edunext_url = theming.options('footer', 'footer_edunext_url', default= 'https://www.edunext.co')
  footer_edunext_alt = theming.options('footer', 'footer_edunext_alt', default= '')
  footer_edunext_target = theming.options('footer', 'footer_edunext_target', default= '_self')

  footer_extralinks = theming.options('footer', 'footer_extralinks', default= [])
  footer_copy = theming.options('footer', 'footer_copy', default= '')

  extra_script = theming.options('footer', 'extra_javascript', default= False)
  extra_script_inline = theming.options('footer', 'extra_javascript_inline', default= False)

  downgrade_level = theming.options('footer', 'downgrade_level', default= False)
%>
%if footer_override:
${footer_override}
%else:
<footer class="footer"
## When rendering the footer through the branding API,
## the direction may not be set on the parent element,
## so we set it here.
% if bidi:
dir=${bidi}
% endif
>
<div class="content-container row no-gutters d-flex d-md-none py-2 px-2 px-lg-0">
   <div class="col-md-4  no-gutters px-2 ">
      <a class="keyboard_arrow_up" href="${marketing_link('ROOT/#')}">
         <img class="keyboard_arrow_up" src="${static.url('images/ic_keyboard_arrow_up_black.svg')}">
      </a>
   </div>
   <div class="col-md-4 box-email no-gutters px-4 ">
      <form class="contact-form" action="https://formspree.io/hola@condor.academy" method="POST">
        <p>¿Deseas recibir más información?</p>
        <div class="input-group">
           <input type="text" class="form-control" >
           <input type="hidden" name="_next" value="https://www.condor.academy" />
           <input type="hidden" name="_subject" value="Nuevo suscriptor a la lista de correos"/>
           <input type="text" name="_gotcha" style="display:none" />
           <input class="btn btn-secondary" type="submit" value="Enviar">
        </div>
      </form>
      <p class="">Ingresá tu e-mail y nos pondremos en contacto a la brevedad.</p>
   </div>
   <div class="col-md-4 no-gutters">
      <div class="content-container row no-gutters  py-2 px-2 px-lg-0">
         <div class="col-md-12 no-gutters ">
            <div class="content-mobile-link" >
               <div class="">
                  <a href="${marketing_link('ROOT')}">Home</a>
               </div>
               <div class="">
                  <a href="${marketing_link('CONTACT')}">Contacto</a>
               </div>
               <div class="">
                  <a href="${marketing_link('FAQ')}">FAQ</a>
               </div>
            </div>
         </div>
         <div class="col-md-12 no-gutters ">
            <div class="content-mobile-link" >
               <div class="">
                  <a href="${marketing_link('TOS')}">Política de uso</a>
               </div>
               <div class="">
                  <a href="${marketing_link('ROOT')}#courses" title="courses">Nuestros cursos</a>
               </div>
               <div class="">
                  <a href="/login">Iniciá sesión</a>
               </div>
            </div>
         </div>
         <div class="col-md-12 no-gutters ">
            <div class="content-mobile-link" >
               <div class="">
                  <a href="${marketing_link('ABOUT')}">Nuestro servicio</a>
               </div>
               <div class="">
                  <a href="${marketing_link('TOS')}">Política de privacidad</a>
               </div>
               <div class="">

               </div>
            </div>
         </div>
      </div>
   </div>

</div>

<div class="content-container row no-gutters d-none d-md-flex py-2 px-2 px-lg-0">
   <div class="col-md-4 no-gutters">
      <div class="content-container row no-gutters  py-2 px-2 px-lg-0">
         <div class="col-md-12 no-gutters ">
            <div class="row" >
               <div class="col-md-4">
                  <a href="${marketing_link('ROOT')}">Home</a>
               </div>
               <div class="col-md-4">
                  <a href="${marketing_link('CONTACT')}">Contacto</a>
               </div>
               <div class="col-md-4">
                  <a href="${marketing_link('FAQ')}">FAQ</a>
               </div>
            </div>
         </div>
         <div class="col-md-12 no-gutters ">
            <div class="row" >
               <div class="col-md-4">
                  <a href="${marketing_link('TOS')}">Política de uso</a>
               </div>
               <div class="col-md-4">
                  <a href="${marketing_link('ROOT')}#courses" title="courses">Nuestros cursos</a>
               </div>
               <div class="col-md-4">
                  <a href="/login">Iniciá sesión</a>
               </div>
            </div>
         </div>
         <div class="col-md-12 no-gutters ">
            <div class="row" >
               <div class="col-md-4">
                  <a href="${marketing_link('ABOUT')}">Nuestro servicio</a>
               </div>
               <div class="col-md-4">
                  <a href="${marketing_link('TOS')}">Política de privacidad</a>
               </div>
               <div class="col-md-4">

               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="col-md-4  no-gutters px-2 ">
      <a class="keyboard_arrow_up" href="${marketing_link('ROOT/#')}">
         <img class="keyboard_arrow_up" src="${static.url('images/ic_keyboard_arrow_up_black.svg')}">
      </a>
   </div>
   <div class="col-md-4 box-email no-gutters px-4 ">
   <form class="contact-form" action="https://formspree.io/hola@condor.academy" method="POST">
      <p>¿Deseas recibir más información?</p>
      <div class="input-group">
         <input type="text" class="form-control" >
         <input type="hidden" name="_next" value="https://www.condor.academy " />
         <input type="hidden" name="_subject" value="Nuevo suscriptor a la lista de correos"/>
         <input type="text" name="_gotcha" style="display:none" />
         <input class="btn btn-secondary" type="submit" value="Enviar">
      </div>
    </form>

      <p class="">Ingresá tu e-mail y nos pondremos en contacto a la brevedad.</p>
   </div>
</div>

%if footer_extralinks or footer_copy:
<div class="footer-extra">
   <div class="content-container row no-gutters py-2 px-2 px-lg-0">
      %if footer_extralinks:
      <div class="col-md-1 footer-logo">
         <a class="" href="${marketing_link('ROOT')}">
         <%block name="navigation_logo">
            <img src="${static.url('images/logo-footer.png')}">
         </%block>
         </a>
      </div>
      <nav class="nav col-md-8 align-items-center ">
         <a class="logo-media" href="https://www.facebook.com/condor.academy.arg/">
         <%block name="navigation_log">
            <img src="${static.url('images/facebook-footer.png')}">
         </%block>
         </a>
         <a class="logo-media" href="https://twitter.com/Condor_Academy?s=09">
         <%block name="navigation_l">
            <img src="${static.url('images/twitter-footer.png')}">
         </%block>
         </a>
         <a class="logo-media" href="https://www.instagram.com/condor.academy/">
         <%block name="navigation_">
            <img src="${static.url('images/instagram-footer.png')}">
         </%block>
         </a>
         <a class="logo-media" href="https://www.youtube.com/channel/UCeCpUxpMJQtoBdkmqtYE10Q">
         <%block name="navigation">
            <img src="${static.url('images/youtube-footer.png')}">
         </%block>
         </a>
      </nav>
      <div class="col text-copyright" >
         <p class="copy">© Condor Academy 2018</p>
         %if footer_copy:
         <p class="copy-copyright" > Todos los derechos reservados</p>
         %endif
      </div>
      %endif
   </div>
</div>
%endif
</footer>
%endif:
<!-- Scripts for bootstrap -->
<script src="https://d1uwn6yupg8lfo.cloudfront.net/resources/libs/enext/bragi/tether.min.js"></script>
<script src="https://d1uwn6yupg8lfo.cloudfront.net/resources/libs/enext/bragi/bootstrap.min.js"></script>
% if extra_script:
<script type="text/javascript" src="${static.url(extra_script)}"></script>
% endif
% if extra_script_inline:
<script type="text/javascript">${extra_script_inline | n}</script>
% endif
<script type="text/javascript">
   var setHeight = (function  setHeight(){
     if ($(window).innerHeight() > $('.window-wrap').innerHeight()) {
       $('.content-wrapper').css('min-height', $(window).innerHeight() - $('.navbar').innerHeight() - $('.footer').innerHeight());
     }
   }());
</script>
% if downgrade_level == 'level1':
<script type="text/javascript">
   $(window).load(function windowLoad() {
     if ($('.ednxtDowngrade-modal').length > 0) {
       $('.ednxtDowngrade-overlay, .ednxtDowngrade-modal__close, .ednxtDowngrade-modal__button').click(function toggleDowngradeModal() {
         $('.ednxtDowngrade-overlay, .ednxtDowngrade-modal').fadeOut();
       });
     }
   });
</script>
% endif
% if configuration_helpers.get_value('activity_tracker') and user.is_authenticated:
<script type="text/javascript" src="https://s3-us-west-2.amazonaws.com/edunextpublic/resources/libs/enext/activity_tracker/main.min.js"></script>
% endif
