## mako

#############################################################
##                                                         ##
##   | ____|   __| |  _   _   _ __     ___  __  __ | |     ##
##   |  _|    / _` | | | | | | '_ \   / _ \ \ \/ / | __|   ##
##   | |___  | (_| | | |_| | | | | | |  __/  >  <  | |     ##
##   |_____|  \__,_|  \__,_| |_| |_|  \___| /_/\_\  \__|   ##
##                                                         ##
#############################################################
## Notes: This file is a copy dogwood activation_invalid.html
## 1. change files paths
## 2. remove unnecessary elements (almost clear all)
## 3. added elements for new branding
## 4. create specific variables for this project

<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%
activation__cover_url = theming.options('register', 'mill_activation__cover_url', default= 'images/mill_index__cover.jpg')
activation__logo_url = theming.options('register', 'mill_activation__logo_url', default= 'images/mill_forgot__logo.png')
activation__cover_error_url = theming.options('register', 'mill_activation__cover_error_url', default= 'images/mill_activation__error.jpg')
%>

<div class="fullscreen-component fixed">
  <div class="fullscreen-component__bg">
    <img src="${static.url()}">
  </div>
  <div class="activation-component">
    <div class="activation-component__container">
      <div class="activation-component__header">
        <img src="${static.url(activation__logo_url)}" alt="">
      </div>
      <div class="activation-component__content error">
        <div class="activation-component__cover">
          <img class="activation-component__cover-image" src="${static.url(activation__cover_error_url)}">
        </div>
        <a class="activation-component__close" href="${marketing_link('ROOT')}">
          <i class="fa fa-times" aria-hidden="true"></i>
        </a>
        <div class="message">
          <h1>
            Activación<br>
            <b>Invalida</b>
          </h1>
        </div>
      </div>
      <div class="activation-component__back">
        <a class="activation-component__back-button" href="${marketing_link('ROOT')}">Continuar</a>
      </div>
    </div>
  </div>
</div>
