## mako

<%page expression_filter="h"/>

#############################################################
##                                                         ##
##   | ____|   __| |  _   _   _ __     ___  __  __ | |     ##
##   |  _|    / _` | | | | | | '_ \   / _ \ \ \/ / | __|   ##
##   | |___  | (_| | | |_| | | | | | |  __/  >  <  | |     ##
##   |_____|  \__,_|  \__,_| |_| |_|  \___| /_/\_\  \__|   ##
##                                                         ##
#############################################################
## Notes: This file is a copy dogwood password_reset_complete.html
## 1. added elements for new branding
## 2. create specific variables for this project

<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import HTML, Text
%>
<%
reset__cover_url = theming.options('login', 'mill_reset__cover_url', default= 'images/mill_forgot__cover.jpg')
reset__logo_url = theming.options('login', 'mill_reset__logo_url', default= 'images/mill_forgot__logo.png')
%>

<%inherit file="../main.html"/>
<%namespace name='static' file='/static_content.html'/>

<%block name="title">
    <title>${_("Reset Your {platform_name} Password").format(platform_name=platform_name)}</title>
</%block>

<%block name="bodyextra">
    <script type="text/javascript" src="${STATIC_URL}js/student_account/password_reset.js"></script>
</%block>

<%block name="bodyclass">view-passwordreset</%block>

<%block name="body">
<div id="password-reset-confirm-container">

<div class="fullscreen-component fixed">
  <div class="fullscreen-component__bg resetPassword">
    <img src="${static.url(reset__cover_url)}">
  </div>
  <div class="reset-component">
    <div id="password-reset-confirm-container" class="reset-component__container ${"error-message" if not validlink else ""}">
      <div class="reset-component__header">
        <img src="${static.url(reset__logo_url)}">
      </div>
      <div id="password-reset-confirm-form" class="reset-component__content form-wrapper">
        % if validlink:
          <form role="form" id="passwordreset-form" class="reset-form" method="post" action="">

            <!-- status messages -->
            <div class="reset-form__message ${'hidden' if not err_msg else ''}">
              <h3 class="reset-form__message-title">${ _("The following errors occurred while processing your registration: ")}</h3>
              <ul class="reset-form__message-content">
                % if err_msg:
                  <li>${err_msg}</li>
                % else:
                  <li>${_("You must enter and confirm your new password.")}</li>
                  <li>${_("The text in both password fields must match.")}</li>
                % endif
              </ul>
            </div>

            <legend class="is-hidden">${ _("Required Information")}</legend>
            <div class="reset-form__input form-field required text new_password2-new_password1" id="field-new_password1">
              <label for="new_password1">Escriba su nueva contraseña</label>
              <input id="new_password1" type="password" name="new_password1" placeholder="*****" />
            </div>
            <div class="reset-form__input form-field required text new_password2-new_password2" id="field-new_password2">
              <label for="new_password2">Confirme su nueva contraseña</label>
              <input id="new_password2" type="password" name="new_password2" placeholder="*****" />
            </div>

            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            <div class="reset-form__submit">
              <button class="reset-form__submit-button action action-primary action-update js-reset" name="submit" type="submit" id="submit">¡Listo!</button>
            </div>
          </form>
        % else:
          <div class="message">
            <h2 class="sr">${ _("Your Password Reset Was Unsuccessful")}</h2>
            <p>
              El link de cambio de contraseña es inválido, posiblemente por que ya ha sido usado. Por favor vuelva a <a href="/login"> la página de inicio  de sesión </a> e intente cambiar la contraseña de nuevo.
            </p>
          </div>
        % endif
      </div>
      % if not validlink:
        <div class="reset-component__back">
          <a class="login-component__back-button" href="${marketing_link('ROOT')}">Ir a <b>Inicio</b></a>
        </div>
      % endif
    </div>
  </div>
</div>
</%block>

